<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <meta name="layout" content="mainForLanding"/>
</head>

<body>
<div class="container">

<strong>Please try again ! We are feeling some technical issue.</strong>

</div>
</body>
</html>