<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <meta name="layout" content="headerFooterLayout">
</head>

<body>

<div class="content-page page-wrapper full-height">
    <div class="inner-page-container">
        <!-- <div class="middle-container"> -->
        <div class="container-fluid">
            <div class="main-content-container">
                <div class="main-icons-container-vertical">
                    <g:render template="/appTemplate/menuTemplate"/>
                </div>

                <div class="main-content-container-content">
                    <h1>Privacy Policy</h1>

                    <p>This Privacy Policy discloses the privacy practices for Travelex360.com portal Travelex 360 Pvt ltd, the provider of the Website (referred to as “us” or “we”), is committed to protecting your privacy online. Please read the following to learn what information we collect from you (the “User” or the “End User”) and how we use that information. If you have any questions about our privacy policy, please email us.</p>

                    <p>PLEASE READ THIS PRIVACY POLICY CAREFULLY BY ACCESSING OR USING OUR WEBSITE, YOU ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTAND, AND AGREE TO BE BOUND TO ALL THE TERMS OF THIS PRIVACY POLICY AND OUR WEBSITE TERMS OF USE. IF YOU DO NOT AGREE TO THESE TERMS, EXIT THIS PAGE AND DO NOT ACCESS OR USE THE WEBSITE.</p>

                    <h4><strong>1. Changes to Privacy Policy</strong></h4>

                    <p>We may change this Privacy Policy at any time by posting the revised Privacy Policy in the “Privacy Policy” section of the Website. The revised Privacy Policy is effective immediately when posted on the Website. It is the responsibility of each User to review the Website and the Privacy Policy periodically to learn of any revisions to this Privacy Policy. Your continued use of the Website after the effectiveness of such revisions will constitute your acknowledgment and acceptance of the terms of the revised Privacy Policy.</p>

                    <h4><strong>2. Types of Information Collected and Uses of Collected Information</strong></h4>

                    <p>We collect two types of information about our Website Users: Personally Identifiable Information and Non-Personally Identifiable Information.</p>

                    <h4><strong>Personally Identifiable Information.</strong></h4>

                    <p>Personally Identifiable Information is information that identifies a specific End User. When you engage in certain activities on the Website, such as creating an account, ordering a product or service from us or our partners, submitting content and/or posting content in discussion forums, entering a contest or sweepstakes sponsored by us or our partners, filling out a survey, posting a review, sending us or our partners feedback, requesting information about our services, submitting an affiliate agreement, applying for a job, posting a video or signing up for special offers from third parties through the Website (collectively, “Identification Activities”), we may ask you to provide certain information about yourself. It is optional for you to engage in an Identification Activity. If you elect to engage in an Identification Activity, however, we may ask you to provide us with certain personal information about yourself, such as your first and last name, mailing address (including zip code), email address, telephone number and date of birth. When you order products or services, we may also ask you to provide us with your credit card number, expiration date and authentication codes or related information. Depending on the activity, some of the information we ask you to provide is identified as mandatory and some is identified as voluntary. If you do not provide the mandatory information for a particular activity that requires it, you will not be permitted to engage in that activity.</p>

                    <p>We use Personally Identifiable Information to provide products and services to you, administer sweepstakes and contests, enhance the operation of the Website, improve our marketing and promotional efforts, analyze Website use, improve our product and service offerings, and to tailor your experience with third parties as provided in Item 3 of this Privacy Policy. For example, if you send our customer service an email we may use your comments and feedback to tell others about our services, and may post your comment in our marketing materials or on our Website. In addition, if you use our Website to send information or a product to another person, we may store your personal information, and the personal information of any recipient. We may use that other person’s contact information to allow him or her to view and accept your gift or to allow the recipient to access the information you requested we send. We may also use Personally Identifiable Information to troubleshoot, resolve disputes, accomplish administrative tasks, contact you, enforce our agreements with you, including our Website Terms of Use and this Privacy Policy, comply with applicable law, and cooperate with law enforcement activities.</p>

                    <h4><strong>Non-Personally Identifiable Information.</strong></h4>

                    <p>Non-Personally Identifiable Information is information that does not identify a specific End User. This type of information may include things like the Uniform Resource Locator (“URL”) of the website you visited before coming to our Website, the URL of the website you visit after leaving our Website, the type of browser you are using and your Internet Protocol (“IP”) address. We, and/or our authorized Third Party Service Providers and Advertisers, may automatically collect this information when you visit our Website through the use of electronic tools like Cookies and Web beacons or Pixel tags, as described in Items 4 and 8 of this Privacy Policy.</p>

                    <p>We use Non-Personally Identifiable Information to troubleshoot, administer the Website, analyze trends, gather demographic information, comply with applicable law, and cooperate with law enforcement activities. We may also share this information with our authorized Third Party Service Providers and Advertisers to measure the overall effectiveness of our online advertising, content, and programming.</p>

                    <h4><strong>3. Release of Personally Identifiable Information</strong></h4>

                    <p>We will not share your Personally Identifiable Information with other parties except as provided below:</p>

                    <h4><strong>As a part of the normal operations, we may share your information with Travelex 360  Merchants.</strong>
                    </h4>

                    <p>For example, if you purchase a particular deal from our website, we will have to provide the list of customers who would be consuming the Merchant’s service. Therefore, we might have to send some of the Personally Identifiable Information like your Name to the Merchant. For all other purposes, we will only share Personally Identifiable Information with a Travelex360 Merchant if you engage in an Identification Activity. Please note that we will only provide a Travelex360 Merchant your information with an opt-in notice to you, in which you will have a chance to choose that Travelex360 not give the Travelex360 Merchant your personal information. We specifically disclaim any responsibility or liability for the actions of such Travelex360 Merchant. While we inform them that they are only permitted to communicate with you for the purposes of the specific promotion with Travelex360, we do not have any responsibility for the actions of the Travelex360 Merchant, and the actions of the Travelex360 Merchant are not in our control.</p>

                    <h4><strong>We may share your information with Authorized Third Party Service Providers.</strong>
                    </h4>

                    <p>We provide some of our services and products through third parties. These “Third Party Service Providers” perform functions on our behalf, like sending out and distributing our administrative and promotional emails. We may share your Personally Identifiable Information with such Service Providers to fulfill orders, deliver packages, send postal or email, administer contests or sweepstakes, remove repetitive information on customer lists, analyze data, provide marketing assistance, provide search results and links, process credit card payments, operate the Website, troubleshoot, and provide customer service. We may also collect personal information from individuals and companies (“Affiliates”) with whom we have business relationships and may have to also share their information with Service Providers to accomplish our administrative tasks. For example, when you order a service, we release your credit card information to the card-issuing bank to confirm payment for the service and, if applicable, release your address to the delivery service to deliver the service. Likewise, we may release an Affiliate’s information to our bank to send out a payment. We encourage Travelex360 Merchants and Third Party Service Providers to adopt and post privacy policies. However, the use of your Personally Identifiable Information by such parties is governed by the privacy policies of such parties and is not subject to our control.</p>

                    <h4><strong>We may share your information in a Business Transfer.</strong></h4>

                    <p>As with any other business, we could merge with, or be acquired by another company. If this occurs, the successor company would acquire the information we maintain, including Personally Identifiable Information. However, Personally Identifiable Information would remain subject to this Privacy Policy.</p>

                    <h4><strong>We may share your information for our Protection and the Protection of Others.</strong>
                    </h4>

                    <p>We may also disclose Personally Identifiable Information when we believe release is appropriate to comply with the law or a court order; enforce or apply this Privacy Policy, our Website Terms of Use or other agreements; or protect the rights, property or safety of the Website, its Users or others.</p>

                    <h4><strong>We may share your information with our associate companies.</strong></h4>

                    <p>We may also share Personal Identifiable Information with our associate companies for the purpose of providing any notification regarding new services or special promotional programs and offers or information related to such associate companies if you have opted-in.</p>

                    <h4><strong>4. Release of Non-Personally Identifiable Information</strong></h4>

                    <p>We may disclose or share Non-Personally Identifiable Information with Partners, Affiliates and Advertisers. For example, we may share aggregated demographic information (which does not include any Personally Identifiable Information) with "Third Party Advertisers" or "Third Party Advertising Companies". We also use Third Party Service Providers to track and analyze Non-Personally Identifiable usage and volume statistical information from our Users to administer our Website and constantly improve its quality. We may also publish this information for promotional purposes or as a representative audience for Advertisers. Please note that this is not Personally Identifiable Information, only general summaries of the activities of our Users. Such data is collected on our behalf, and is owned and used by us.</p>

                    <h4><strong>5. Updating and Correcting Information</strong></h4>

                    <p>We believe that you should have the ability to access and edit the Personally Identifiable Information you provide us. You may change any of your Personally Identifiable Information by sending us an email at <a
                            href="mailto:info@travelex360.com">info@travelex360.com.</a> Please indicate your name, address and email address, and what information you would like to update when you contact us.
                    </p>

                    <p>We encourage you to promptly update your Personally Identifiable Information if it changes. You may ask to have the information on your account deleted or removed; however, because we keep track of past transactions, you cannot delete information associated with past transactions on the Website. In addition, in may be impossible for us to completely delete all of your information because we periodically backup information.</p>

                    <h4><strong>6. User Choices on Collection and Use of Information</strong></h4>

                    <p>As discussed above, you can always choose not to provide information, although it may be required to engage in a certain activity on the Website.</p>

                    <p>As a condition of purchase of our products and services, we will send you Administrative and Promotional emails. We will send you information regarding your account activity and purchases as well as updates about our products and promotional offers. You cannot opt-out of Administrative Emails. “Administrative Emails” relate to a User’s activity on the Website, and include emails regarding a particular User’s account, requests or inquiries, and purchases of products and services. In contrast to Administrative Emails, however, you do have a choice with respect to Promotional Emails. Promotional Emails advertise our products and services, including exclusive sales and other offers, and/or the products and services of our Advertisers and Affiliates. If you do not want to receive Promotional Emails from us, you may elect to opt-out of receiving Promotional Emails at any time after registering by e-mailing us at info@Travelex360.com, by writing to us at the address contained herein, or by hitting the “unsubscribe” button at the bottom of any of our e-mails. When contacting us, please indicate your name, address, email address, and what Promotional Emails you do not want to receive.</p>

                    <h4><strong>7. Security of Information</strong></h4>

                    <p>We take security seriously and take numerous precautions to protect the security of Personally Identifiable Information. You can access your Personally Identifiable Information on our Website through a password and your email address. This password is encrypted. We recommend that you do not share your password with anyone. In addition, your Personally Identifiable Information resides on a secure server that only selected personnel and contractors have access to. We encrypt certain sensitive information using Secure Socket Layer (SSL) technology to ensure that your Personally Identifiable Information is safe as it is transmitted to us.</p>

                    <p>Unfortunately, no data transmission over the Internet or any wireless network can be guaranteed to be 100% secure. As a result, while we employ commercially reasonable security measures to protect data and seek to partner with companies which do the same, we cannot guarantee the security of any information transmitted to or from the Website, and are not responsible for the actions of any third parties that may receive any such information.</p>

                    <h4><strong>8. Data Tracking Cookies.</strong></h4>

                    <p>o facilitate and customize your experience with the Website, we store cookies on your computer. A cookie is a small text file that is stored on a User’s computer for record-keeping purposes which contains information about that User. We use cookies to save you time while using the Website, remind us who you are, and track and target User interests in order to provide a customized experience. Cookies also allow us to collect Non-Personally Identifiable Information from you, like which pages you visited and what links you clicked on. Use of this information helps us to create a more user-friendly experience for all visitors. In addition, we may use Third Party Advertising Companies to display advertisements on our Website. As part of their service, they may place separate cookies on your computer. We have no access to or control over these cookies. This Privacy Policy covers the use of cookies by our Website only and does not cover the use of cookies by any Advertiser. Most browsers automatically accept cookies, but you may be able to modify your browser settings to decline cookies. Please note that if you decline or delete these cookies, some parts of the Website may not work properly.</p>

                    <h4><strong>Other Tracking Devices.</strong></h4>

                    <p>We may use other industry standard technologies like pixel tags and web beacons to track your use of our Website pages and promotions, or we may allow our Third Party Service Providers to use these devices on our behalf. Pixel tags and web beacons are tiny graphic images placed on certain pages on our Website, or in our emails that allow us to determine whether you have performed a specific action. When you access these pages or open or click an email, pixel tags and web beacons generate a Non-Personally Identifiable notice of that action. Pixel tags allow us to measure and improve our understanding of visitor traffic and behavior on our Website, as well as give us a way to measure our promotions and performance. We may also utilize pixel tags and web beacons provided by our Affiliates and/or Marketing Partners for the same purposes.</p>

                    <h4><strong>9. Privacy Policies of Third Party Websites</strong></h4>

                    <p>This Privacy Policy only addresses the use and disclosure of information we collect from you. Other websites that may be accessible through this Website have their own privacy policies and data collection, use and disclosure practices. If you link to any such website, we urge you to review the respective website’s privacy policy. We are not responsible for the policies or practices of third parties.</p>

                    <h4><strong>10. Miscellaneous Privacy Issues</strong></h4>

                    <p>Children. Minors under the age of 18 may not use the Website. We do not collect or maintain information from anyone known to be under the age of 18, and no part of the Website is designed to attract anyone under the age of 18.Travelex360 does not sell products for purchase by children. In certain instances, we sell children's products for purchase by adults. If you are under 18, you may use Travelex 360  only with the involvement of a parent or guardian.</p>

                    <h4><strong>Public Areas.</strong></h4>

                    <p>We may provide areas on our Website where you can publicly post information about yourself, can communicate with others, or can review products, restaurants, and submit media content. This information may be accessible by other consumers and companies and may appear on other websites or web searches, and therefore this information could be read, collected, and used by others. For example, if you post your email address along with a public restaurant review, you may receive unsolicited messages. We have no control over who reads your postings or what other users may do with the information you voluntarily post, so please use caution when posting any personal information.</p>

                    <h4><strong>11. Contacting Us</strong></h4>

                    <p>Whether you are a new or loyal customer, restaurant owner, marketer, publisher, media member or job seeker we would like to stay connected and want to hear from you!</p>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>

</div>

</body>
</html>