<%@ page import="com.travelex.admin.Status" contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <meta name="layout" content="admin"/>
    <title></title>
</head>

<body style="background: #ffffff">
<travelx:renderAlert/>
<travelx:adminUserTab/>

</body>
</html>