<h3>Dear Travelex360 team,</h3>
<h4>Following user need help to know more about packages</h4>
<p>Name&nbsp;&nbsp;${holidayQuery.name}</p>
<p>Email&nbsp;&nbsp;${holidayQuery.email}</p>
<p>Contact Number&nbsp;&nbsp;${holidayQuery.contactNo}</p>
<p>Query&nbsp;&nbsp;${holidayQuery.message}</p>
<h3>Thank you</h3>