
@media (min-width: 768px) {

	.full-height{
		min-height: 100%;
		height: 100%;
	}
	.page-wrapper{
		min-height: 100%;
		margin-bottom: -70px;
	}
	.main-footer{
		height: 70px;
	}
}

@media (max-width: 768px) {
	.page-wrapper{
		padding-top: 50px;
		display: block;
	}
	.listing-page-wrapper{
		padding-top: 0px;
	}
	.main-footer{
		height: auto;
		text-align: center;
	}
	.main-footer .col-md-6{
		text-align: center !important;
	}
	html, body{
		/*height: 100%;*/
		height: auto;
	}
	header.main-header .logo img{
		height: 35px;
	}
	.header-icon-nav li a{
		padding: 5px 7px;
		margin-left: 10px;
		display: inline-block;
		/*background: #666;*/
		border-radius: 50%;
		border:2px solid #222;
		transition: 0.3s all;
	}
	.header-icon-nav li a img{
		width: 15px;
	}

	.full-page-container{
		/*background-color: #666;*/
		display: table;
		width: 100%;
		padding-top: 100px;
		padding-bottom: 50px;
		/*vertical-align: middle;*/
	}
	.main-icons-container{
		max-width: 450px;
		margin: auto;
		padding-top: 3px;
		padding-bottom: 3px;
		margin-top: 20px;
		margin-bottom: 20px;
		text-align: center;
		background: rgba(255,255,255,0.75);
		box-shadow: 0px 0px 20px rgba(0,0,0,0.3)
	}
	.main-icons-container a{
		color: #222;
		text-decoration: none;
	}
	.main-icons-container .main-icon-box{
		/*margin-left: -4px;*/
		width: 138px;
		display: inline-block;
		text-align: center;
		/*background: #444;*/
		padding: 10px 0px;
		transition:0.3s all;
		margin-bottom: 3px;
	}
	.main-icons-container .main-icon-box img{
		width: 50px;
	}
	.main-icons-container .main-icon-box:hover{
		background:rgba(0,0,0,0.1); 
	}
	.main-icons-container .main-icon-box h3{
		margin-top: 0px;
		font-size: 12px;
		font-weight: bold;
		padding: 10px 0px;
	}
	.main-footer{
		position: relative;
		width: 100%;
		z-index: 9999;
		background: #fff;
		padding: 5px 0px;
		z-index: 99999;
		bottom: 0px;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	}
	.main-content-container .main-content-container-content{
		background: rgba(255,255,255,0.82);
		margin-left: 60px;
		padding: 15px;
		padding-top: 10px;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
		min-height: 397px;
	}
	.main-search-container .main-search-container-content{
		background: rgba(255,255,255,0.82);
		margin-left: 60px;
	}
	.filter-sidebar-container{
		margin-bottom: 25px;
	}
	.filter-sidebar-container.with-nav .main-icons-container-vertical{
		display: none;
	}
	.filter-sidebar-container.with-nav .filter-sidebar{
		margin-left: 0px;
	}
	.room-selection-tally{
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid #ddd;
		border-left: 0px;
	}

}
@media (max-width: 480px) {
	.col-md-4{
		width: 99% !important;
	}
	.col-md-3{
		width: 99% !important;
	}
	.main-icons-container-vertical{
		width: 60px;
		position: absolute;
	}
	.main-search-container-content{
		background: rgba(255,255,255,0.9);
		margin-left: 60px;
	}
	.input-group{
		width: 100%;
	}
	.service-login-container{
		max-width: 600px;
		margin: auto;
		position: relative;
		margin-top: 40px;
	}
	.larga-icon-container{
		background: rgba(255,255,255,0.5);
		width: 70px;
		text-align: center;
		padding: 5px;
		position: absolute;
		position: top;
		color: #000;
	}
	.larga-icon-container img{
		max-width: 100%;
		height: auto;
	}
	.larga-icon-container h4{
		font-size: 14px;
	}
	.service-login-container .login-box{
		margin-left: 70px;
		background: rgba(255,255,255,0.8);
		min-height: 200px;
		padding: 5px;
	}
	.btn-ico{
		/*padding: 10px;*/
		display: inline-block;
		margin: 20px 0px;
	}
	.btn-ico i{
		display: none;
	}
	.btn-ico span{
		padding: 10px 15px;
		font-size: 16px;
		display: inline-block;
	}
}