@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700);
@font-face {
	font-family: 'Aller';
	src:url('../fonts/aller/Aller.ttf');
	font-weight: normal;
	font-style: normal;
}

html{
	height: 100%;
}
html, body{
	min-height: 100%;
	background: #eee;
	font-family: 'Ubuntu';
	/*font-family: 'Aller';*/
}

.container-fluid{
	max-width: 1350px;
}
.trim{
	margin: 0px;
}
header .container-fluid, footer .container-fluid{
	max-width: 100%;
}
label.error{
	margin: 0px;
	padding: 0px;
	color: #ff0000;
	font-size: 12px;
	font-weight: normal !important;
	display:  block;
	width: 100%;
}
.error{
	margin: 0px;
	padding: 0px;
	color: #ff0000;
	font-size: 12px;
	font-weight: normal !important;
	display:  block;
	width: 100%;
}
.checkbox label label.error{
	position: absolute;
	top: 18px;
}
.margin-bottom-15{
	margin-bottom: 20px;
}
#map {
	width:100%;
	height:100%;
}
textarea {
  resize: none;
}

a, a:hover, a:active, a:visited, a:focus{
	outline: none;
}
.full-width{
	width: 100%;
}


.home-page{
	background: url(../images/home-bg.jpg) no-repeat fixed center center;
	background-size: cover;
}
.min-search-container{
	background: url(../images/bg-mini-1.jpg) no-repeat center;
	background-size: cover;
}
.content-page{
	background: url(../images/bg-6.jpg) no-repeat center fixed;
	background-size: cover;
}
.book-hotel-page{
	background: url(../images/bg-2.jpg) no-repeat center fixed;
	background-size: cover;
}
.flight-booking-page{
	background: url(../images/bg-2.jpg) no-repeat center fixed;
	background-size: cover;
}
.plan-travel-page{
	background: url(../images/bg-2.jpg) no-repeat center fixed;
	background-size: cover;
}
.login-page{
	background: url(../images/login-bg.jpg) no-repeat center fixed;
	background-size: cover;
}

.img-full{
	width: 100%;
	height: auto;
}
.img-max{
	max-width: 100%;
	height: auto;
}
.box-title{
	margin: 0px;
	padding: 0px 0px 5px 0px;
	margin-bottom: 10px;
	font-size: 30px;
	font-weight: bold;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	color: #222;
}
.color-gold{
	color: #f9ce1d;
}
.inner-title{
	margin-top: 0px;
}

/* Header Style */

header.main-header{
	background: #fff;
	padding: 10px 0px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	position: fixed;
	width: 100%;
	top:0px;
	z-index: 9999;
}
header.main-header .logo{
	padding: 5px;
	margin-right: 15px;
}
.header-icon-nav{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.header-icon-nav li{
	display: inline-block;
}
.header-icon-nav li a{
	padding: 10px;
	margin-left: 10px;
	display: inline-block;
	/*background: #666;*/
	border-radius: 50%;
	border:2px solid #222;
	transition: 0.3s all;
}
.header-icon-nav li a:hover{
	/*background: #F36F21;*/
	background: #ddd;
	border-color: #ddd;
	/*background: #A9D13A;*/
}

.main-footer{
	position: fixed;
	width: 100%;
	z-index: 9999;
	background: #fff;
	padding: 5px 0px;
	z-index: 9999;
	bottom: 0px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}
.main-footer.inner{
	position: relative;
	width: 100%;
	z-index: 9999;
	background: #fff;
	padding: 5px 0px;
	z-index: 9999;
	bottom: 0px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.inline-list-links{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.inline-list-links li{
	display: inline-block;
	padding-right: 15px;
}
.inline-list-links li a{
	color: #222;
}
.footer-links{
	border-bottom: 1px solid #ddd;
	padding: 5px 0px;
}
.footer-rights{
	/*padding: 5px 0px;*/
}
.footer-rights p{
	margin: 0px;
	padding: 5px 0px;
}

/* Full Page Pages Style */

.full-page-container{
	/*background-color: #666;*/
	display: table;
	width: 100%;
	vertical-align: middle;
}
.middle-container{
	display: table-cell;
	vertical-align: middle;
}
.main-icons-container{
	max-width: 612px;
	margin: auto;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: center;
	/*height: 400px;*/
	background: rgba(255,255,255,0.85);
	box-shadow: 0px 0px 20px rgba(0,0,0,0.3)
}
.main-icons-container a{
	color: #222;
	text-decoration: none;
}
.main-icons-container .main-icon-box{
	/*margin-left: -4px;*/
	width: 200px;
	display: inline-block;
	text-align: center;
	/*background: #444;*/
	padding: 10px 0px;
	transition:0.3s all;
	margin-bottom: 3px;
	font-weight: bold;
}
.main-icons-container .main-icon-box:hover{
	background:rgba(0,0,0,0.1); 
}
.main-icons-container .main-icon-box h3{
	margin-top: 0px;
	font-size: 18px;
	font-weight: bold;
	padding: 10px 0px;
}
.main-icons-container .main-icon-box:first-child{
	margin-left: 0px;
}
.main-icons-container .main-icon-box:nth-child(4){
	margin-left: 0px;
}

.main-icons-container-header{
	position: relative;
	margin-top: -10px;
	margin-bottom: -15px;
}
@media(max-width:992px){
	.main-icons-container-header{
		display: none;
	}

}
.main-icons-container-header .main-icon-box{
	/*margin-left: -4px;*/
	height: 70px;
	display: inline-block;
	text-align: center;
	/*background: #444;*/
	padding: 5px 10px;
	transition:0.3s all;
	margin-bottom: 3px;
	color: #000;
	text-decoration: none;
	margin-left: -3px;
}
.main-icons-container-header .main-icon-box:hover{
	box-shadow: 0px 0px 10px  rgba(0,0,0,0.2) inset;
}
.main-icons-container-header .main-icon-box.active{
	box-shadow: 0px 0px 30px  rgba(0,0,0,0.2) inset;
}
.main-icons-container-header .main-icon-box img{
	width: 35px;
	margin: 0px;
}
.main-icons-container-header .main-icon-box h3{
	font-size: 12px;
	margin: 0px;
}


.inner-page-container{
	padding-top: 80px;
	padding-bottom: 80px;
	overflow-x: hidden; 
	overflow-y: auto; 
}
.listing-page-wrapper{
	padding-top: 70px;
	padding-bottom: 70px;
	overflow-x: hidden; 
	overflow-y: auto; 
	height: auto;
	min-height: 800px;
}
.main-sub-title{
	color: #fff;
	font-weight: bold;
	font-size: 40px;
	margin: 0px;
	margin-bottom: 10px;
	text-shadow: 0px 2px 2px rgba(0,0,0,0.4);
}
.main-title{
	color: #fff;
	font-weight: bold;
	font-size: 40px;
	margin: 0px;
	margin-bottom: 10px;
	text-shadow: 0px 2px 2px rgba(0,0,0,0.4);
}
.sub-title{
	color: #fff;
	font-weight: bold;
	font-size: 30px;
	margin: 0px;
	margin-bottom: 10px;
	margin-top: 10px;
	text-shadow: 0px 2px 2px rgba(0,0,0,0.4);
}
.main-search-container{
	max-width: 750px;
	margin: 0px auto;
	margin-bottom: 10px;
	margin-top: 15px;
	position: relative;
}
.main-search-container.main-login{
	max-width: 850px;
}
.main-icons-container-vertical{
	width: 100px;
	position: absolute;
}
.main-icons-container-vertical .main-icon-box{
	padding: 7px 0px;
	text-align: center;
	display: block;
	background: rgba(255,255,255,.5);
	text-decoration: none;
	transition: 0.3s all;
}
.main-icons-container-vertical .main-icon-box:hover{
	background: rgba(255,255,255,.75);
}

.main-icons-container-vertical .main-icon-box.active{
	background: rgba(255,255,255,.82);
}
.main-icons-container-vertical .main-icon-box img{
	width: 40px;
	height: auto;
}
.main-icons-container-vertical .main-icon-box h3{
	font-size: 11px;
	margin: 0px;
	color: #000;
	font-weight: bold;
}
.main-search-container .main-search-container-content{
	background: rgba(255,255,255,0.82);
	margin-left: 100px;
	padding: 15px;
	padding-top: 10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	min-height: 397px;
}
.main-search-container{
	min-height: 398px;
}



.main-content-container{
	max-width: 1000px;
	margin: 0px auto;
	margin-bottom: 10px;
	margin-top: 15px;
	position: relative;
}
.main-content-container .main-content-container-content{
	background: rgba(255,255,255,0.82);
	margin-left: 100px;
	padding: 15px;
	padding-top: 10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	min-height: 397px;
}
.main-content-container{
	min-height: 398px;
}

.tvx-from{
	margin: 0px;
}
.tvx-from .form-group{
	margin: 0px;
	margin-top: 10px;
}
.tvx-from .form-group:nth-child(1){
	margin-top: 0px;
}
.tvx-from .form-group label{
	margin: 0px;
	margin-bottom: 5px;	text-transform: uppercase;
	/*font-weight: normal;*/
}
.tvx-from .form-group .form-control{
	border-radius: 0px;
	border: 1px solid #ccc;
	box-shadow: none !important;
}
.form-control{
	border-radius: 0px;
	border: 1px solid #ccc;
	box-shadow: none !important;
}
.form-control:focus{
	border: 1px solid #bbb;
}
.tvx-from .form-group .radio-inline{
	text-transform: capitalize;
	margin-right: 25px;
}
.input-group-btn button{
	border-radius: 0px;
}
.tvx-from .btn{
	border-radius: 0px;
	border: 1px solid ;
}
.btn{
	border-radius: 0px;
	font-weight: bold;
}
.tvx-from .checkbox label	{
	margin-right: 20px;
}
.tvx-from .form-group .btn-main{
	width: 100%;
	padding: 10px 30px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
}
.tvx-from .form-group p{
	margin-bottom: 0px;
	font-size: 16px;
}
.form-footer{
	border-top:1px solid rgba(0,0,0,0.1);
	padding-top: 15px;
	margin-top: 15px;
}
.tvx-from  .input-group-addon{
	border-radius: 0px;
	cursor: pointer;
}

.transparent-buttons-container{
	text-align: center;
}
.transparent-buttons-container ul{
	list-style: none;
	padding: 0px;
}
.transparent-buttons-container ul li{
	display: inline-block;
	margin:3px;
}
.transparent-buttons-container ul li a{
	padding: 3px 10px;
	background: rgba(255,255,255,0.15);
	color:#ffffff;
	text-shadow:1px 1px 0px rgba(0,0,0,0.5);
	text-decoration: none;
	border-radius: 10px;
	border: 1px solid rgba(255,255,255,01);
	display: block;
	transition :0.3s all;
}
.transparent-buttons-container ul li a:hover{
	background: rgba(255,255,255,0.25);
}

.room-container:first-child{
	border-top: 0px;
}
.room-container{
	border-top: 1px solid rgba(0,0,0,0.1);
}
.room2{
	display: none;
}
.room3{
	display: none;
}
.room4{
	display: none;
}
.room5{
	display: none;
}
.child1{
	display: none;
}
.child2{
	display: none;
}

/* Custom Check , Radio boxes */


.tick-radio{
  width     : 0px;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
  position: absolute;
}

.tick-radio + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

.tick-radio + label > span{
  display          : inline-block;
  width            : 1.2em;
  height           : 1.2em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 1px solid #999;
  background       : #fff;
  vertical-align   : bottom;
}

.tick-radio:checked + label > span{
  background       : #fff;
  
}

.tick-radio:checked + label > span:before{
  content     : '✓';
  display     : block;
  width       : 1em;
  color       : #333;
  font-size   : 1em;
  line-height : 1em;
  text-align  : center;
  text-shadow : 0 0 0.0714em rgb(115,153,77);
  font-weight : bold;
}
/*
input[type=radio]:checked +  label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.125em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.125em;
  background       : rgb(153,204,102);
  background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
}*/

.margin-top-10{
	margin-top: 10px;
}

.margin-top-5{
	margin-top: 5px;
}


.tick-box label{
	padding-right: 30px;
}

.multi-trip-container input[type="text"]{
	
}
.map-page{
	padding-top: 70px;
	padding-bottom: 70px;
	position: relative;
}

.package-search-container{
	position: absolute;
	top: 0px;
	padding-top: 70px;
	z-index: 999;
	max-width: 400px;
	left: 80px;
	font-weight: 200;
	padding-left: 100px;
}
.package-search-container .main-icons-container-vertical{
	left: 0px;
	top: 90px;
}
.package-search-content{
	padding: 15px;
	background: rgba(255,255,255,0.82);
	height: 100%;
	width: 100%;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
}
.package-search-content h1{
	margin: 0px;
	font-size: 18px;
	margin-bottom: 10px;
}

.info-window-title{
	border-bottom: 1px solid #dadada;
	padding-bottom: 10px;
	margin: 0px;
}
.info-window-content h3{
	font-size: 20px;
}
.info-window-content h4{
	font-size: 14px;
}
.info-window-content a{
	color: #222;
}
.view-all-btn{
	text-align: center;
	padding: 5px 0px;
	display: block;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-top: 20px;
}
.choose-activity-container{
	background: rgba(255,255,255,0.8);
	padding: 4px;
}
.choose-activity-container .activity-box{
	display: inline-block;
	padding: 5px;
/*	padding: 20px;*/
	/*border: 1px solid #dadada;*/
	cursor: pointer;
	text-align: center;
	min-width: 69px;
}
.choose-activity-container .activity-box:hover{
	background: rgba(100,100,100,0.1);
}
.choose-activity-container .activity-box.active{
	background: #A3CA39;
}
p.act-ico-text{
	margin: 0px;
	font-size: 12px;
	color: #000000;
}
.main-content-container .main-content-container-content{
	line-height: 25px;
	font-weight: lighter;
	padding: 20px;
}
.main-content-container .main-content-container-content h1{
	margin: 0px;
	margin-bottom: 20px;
}

.step-box .col-md-4, .step-box .col-md-8{
	padding: 5px;
}
.main-search-container-content a{
	color: #222;
	text-decoration: none;
}
.border-bottom{
	padding-bottom: 10px;
	/*border-bottom: 1px solid rgba(0,0,0,0.1); */
}
.btn-ico{
	/*padding: 10px;*/
	display: inline-block;
	margin: 20px 0px;
}
.btn-ico i{
	padding: 10px 10px;
	border-right: 1px solid rgba(0,0,0,0.15);
	display: inline-block;
}
.btn-ico span{
	padding: 10px 15px;
	font-size: 16px;
	display: inline-block;
}

.service-login-container{
	max-width: 700px;
	/*background: rgba(255,255,255,0.8);*/
	margin: auto;
	position: relative;
	margin-top: 80px;
}
.larga-icon-container{
	background: rgba(255,255,255,0.5);
	width: 200px;
	/*height: 180px;*/
	text-align: center;
	padding: 10px;
	position: absolute;
	position: fixed;
	color: #000;
}
.service-login-container .login-box{
	margin-left: 200px;
	background: rgba(255,255,255,0.8);
	min-height: 200px;
	padding: 10px;
}
.login-box h3{
	margin: 5px 0px;
	margin-bottom: 15px;
}

.form-group:after{
	display: block;
	content: " ";
	clear:both;
}
.control-label-side{
	line-height: 30px;
}
.form-group a{
	color: #000;
}
.btn-small{
	border: 0px !important;
	display: inline-block;
	padding: 3px 7px;
	margin-bottom: 5px;
	font-size: 13px;
}
.main-login h3{
	margin-top: 0px;
	margin-bottom: 15px;
}
.benifit-item{
	position: relative;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 5px 0px;
}
.benifit-item:after{
	display: block;
	content: " ";
	clear: both;
}
.benifit-item .benifit-item-image{
	width: 30px;
	height: 30px;
	position: absolute;
}
.benifit-item .benifit-item-content{
	margin-left: 40px;
	line-height: 20px;
	min-height: 40px;
}

.login-container{
	max-width: 700px;
	margin: auto;
	margin-top: 100px;
	background: rgba(255,255,255,0.82);
	padding: 20px;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.2)
}
.login-container h1{
	font-size:24px;
	margin: 0px; 
	margin-bottom: 15px;
}

.login-form .form-control{
	border:0px;
	height: auto;
	padding: 10px 10px;
}
.login-form .form-control.username-field{
	padding-left: 40px;
	background: #fff url(../images/user-ico.png) no-repeat 5px center;
}
.login-form .form-control.password-field{
	padding-left: 40px;
	background: #fff url(../images/pass-ico.png) no-repeat 5px center;
}
.login-form .btn{
	border-radius: 0px;
	padding: 8px 20px;
	text-transform: uppercase;
}
.other-sign-in{
	padding: 15px;
}
.other-sign-in a{
	margin-bottom: 15px;
	display: block;
	opacity: 0.7;
	transition: 0.5s all;
}
.other-sign-in a:hover{
	opacity:1;
}


.register-container{
	max-width: 700px;
	margin: auto;
	margin-top: 20px;
	background: rgba(255,255,255,0.82);
	padding: 20px;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.2)
}
.register-container h1{
	font-size: 24px;
	margin: 0px 0px 15px 0px;
}

.min-search-container{
	padding: 35px 0px;
}
.min-search-container button[type="submit"]{
	margin-top: 25px;
}
.room-select-toggle{
	width: 100%;
	background: #fff url(../images/user-ico.png) left center no-repeat;
	border:1px solid #dddddd;
	padding: 6px 10px;
	padding-left: 30px;
	cursor: pointer;
	position: relative;
}
.room-select-toggle span{
	float: right;
	margin-top: 3px;
}
.room-select-dropdown-container{
	position: absolute;
	padding: 20px;
	background: #fff;
	z-index: 999;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
	width: 270px;
	left: 15px;
	top: 100%;
}


.horiz-form-container{
	padding: 20px;
	background: rgba(255,255,255,0.82);
	box-shadow: 0px 2px 3px rgba(0,0,0,0.2)
}
.tmx-horiz-form .form-group{
	margin: 0px;
}

.content-wrapper{
	padding: 20px 0px;
	/*max-width: 1200px;*/
	margin: auto;
}
.filter-sidebar-container{
	position: relative;
}
.filter-sidebar-container .filter-sidebar{
	background: #fff;
	padding: 15px;
	position: relative;
	margin-bottom: 15px;
	box-shadow: 2px 1px 3px rgba(0,0,0,.1);
}
.filter-sidebar-container.with-nav .filter-sidebar{
	background: #fff;
	margin-left: 100px;
	padding: 15px;
	min-height: 420px;
	position: relative;
	box-shadow: 2px 1px 3px rgba(0,0,0,.1);
}
.filter-sidebar-container.with-nav .main-icons-container-vertical{
	top: 10px;
	box-shadow: 0px 0px 2px rgba(0,0,0,.1);
}
.filter-sidebar-container.with-nav .main-icons-container-vertical .active{
	background: #fff;
}
.filter-sidebar h3{
	margin: 0px;
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #dadada;
}
.filter-sidebar h3 .btn{
	padding: 3px 10px;
}
.filter-box{
	margin-bottom: 20px;
}

.filter-list-box .filter-list.with-icon{
	position: relative;
}
.filter-list-box .filter-list.with-icon label{
	height: 30px;
	position: relative;
}
.filter-list-box .filter-list.with-icon label{
	padding-right: 30px;
}
.filter-list-box .filter-list.with-icon span{
	position: absolute;
	top: 0px;
	right: 0px;
}
.filter-list-box .filter-list a{
	color: #222;
	text-decoration: none;
	padding: 5px;
	display: block;
}	
.filter-list-box .filter-list label{
	border-bottom: 1px solid #ddd;
	font-weight: lighter;
	cursor: pointer;
	padding: 5px 3px;
	margin: 0px;
	display: block;
}
.filter-list-box .filter-list:hover{
	background: #f9f9f9;
}
.filter-list-box .filter-list label input[type="checkbox"]{
	margin-right: 5px;
}
.rating-buttons .btn-group .btn{
	margin: 0px;
	border-radius: 0px;
	width: 20% !important;
	padding: 5px 10px;
	min-height: 52px; 
}
.btn-white{
	background: #f9f9f9;
	box-shadow:none;
	position: relative;
	border:1px solid #dadada;
}
.btn-white:hover{
	background: #f1f1f1;
}
.btn-white:active, .btn-white.active{
	background: #f1f1f1;
}
.rating-buttons i{
	color: #f9ce1d;
}
.rating-buttons small{
	font-size: 10px;
}


.slider-selection {
    background: #999;
}
.slider-handle {
	background: #444;
}

.slider.slider-horizontal .slider-track {
    height: 20px;
    width: 100%;
    top: 50%;
    left: 0px;
}
.slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle {
    margin-left: -10px;
    margin-top: 0px;
}
.slider-track {
    position: absolute;
    cursor: pointer;
    background: #ddd;
    box-shadow: none;
    border-radius: 20px;
}
.slider.slider-horizontal .slider-selection, .slider.slider-horizontal .slider-track-left, .slider.slider-horizontal .slider-track-right {
    height: 12px;
    top: 4px;
    bottom: 0px;
}
.slider.slider-horizontal {
    width: 100%;
    height: 20px;
}







.result-category-container{
	position: relative;
	display: block;
	margin-bottom: 10px;
}
.result-category-container .result-cat-box{
	background: #dadada;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 5px;
	text-decoration: none !important;
	color: #fff;
	position: relative;

}
/*.result-category-container .result-cat-box{*/
.result-category-container .result-cat-box:after{
	display: block;
	content: ' ';
	clear: both;
}
.result-category-container .result-cat-box.active:before{
	display: block;
	content: ' ';
	width: 20px;
	height: 10px;
	clear: both;
	position: absolute;
	bottom: -10px;
	left: 10px;
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	
	border-top: 10px solid #dadada;
}
.result-category-container .result-cat-box .result-category-title{
	display: inline-block;
	width: 65px;
	text-transform: uppercase;
	vertical-align: top;
	height: 40px;
	overflow: hidden;
}
.result-category-container .result-cat-box .result-category-count{
	display: inline-block;
	font-size: 25px;
	vertical-align: top;
	font-weight: lighter;
}


.result-category-container .result-cat-box.bg-brown{
	background: #ab9061;
}
.result-category-container .result-cat-box.bg-brown.active:before{
	border-top: 10px solid #ab9061;
}
.result-category-container .result-cat-box.bg-green{
	background: #81c784;
}
.result-category-container .result-cat-box.bg-green.active:before{
	border-top: 10px solid #81c784;
}
.result-category-container .result-cat-box.bg-voilet{
	background: #9fa8da;
}
.result-category-container .result-cat-box.bg-voilet.active:before{
	border-top: 10px solid #9fa8da;
}
.result-category-container .result-cat-box.bg-pink{
	background: #f5989d;
}
.result-category-container .result-cat-box.bg-pink.active:before{
	border-top: 10px solid #f5989d;
}
.result-category-container .result-cat-box.bg-dark{
	background: #78909c;
}
.result-category-container .result-cat-box.bg-dark.active:before{
	border-top: 10px solid #78909c;
}

.result-category-container .result-cat-box.bg-rose{
	background: #D5548A;
}
.result-category-container .result-cat-box.bg-rose.active:before{
	border-top: 10px solid #D5548A;
}



.listing-content-container{
	background: #fff;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}
.listing-sort-container{
	padding: 15px;
	border-bottom: 1px solid #e4e4e4;
}
.listing-sort-container a{
	padding: 5px;
	border-radius: 3px;
	margin-left: 5px;
	color: #222;
}
.listing-sort-container a:hover{
	background: #dadada;
	text-decoration: none;
}
.listing-sort-container a.active{
	background: #546e7a;
	color: #fff;
}
.listing-content-outer{
	padding: 15px;
}
.listing-page-wrapper .main-title{
	color: #333;
	text-shadow: none;
	margin-bottom: 15px;
	font-size: 32px;
}
.listing-box .col-md-3, .listing-box .col-md-9, .listing-box .row{
	padding: 0px;
	margin: 0px;
}
.listing-box {
	min-height: 150px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd; 
	margin-bottom: 15px;
}
.listing-box .listing-content{	padding-left:15px;
	min-height: 150px;
}
.listing-box .listing-content .listing-title{
	margin: 0px;
	margin-bottom: 0px;
	font-size: 20px;
}
.listing-box .listing-content .listing-title a{
	color: #222;
}
.listing-box .listing-content .listing-title span.listing-rating{
	font-size: 20px;
	color: #f9ce1d;
}
.facilities-list{
	list-style: none;
	position: relative;
	padding: 0px;
}
.facilities-list li{
	list-style: none;
	display: inline-block;
	border: 1px solid #fff;
	transition:0.5s all;
}
.facilities-list li:hover{
	border: 1px solid #555;
}
.listing-box .listing-content .price-box{
	min-height: 140px;
	border-left: 1px solid #ddd;
	padding: 5px 15px;
}

.price-box .price{
	margin: 0px;
	margin-bottom: 10px;
}
.price-box .price span.old{
	font-size: 14px;
	color: #888;
	text-decoration: line-through;
}
.strike{
	text-decoration: line-through;
	
}
.price-box .price span.new{
	font-size: 20px;
}
.price-box small{
	font-size: 12px;
}
.price-box .btn{
	display: block;
	border-radius: 0px;
}


.hotel-detail-box{
	background: #fff;
	padding: 15px;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
	margin-bottom: 15px;
}
.hotel-detail-box .listing-title{
	margin-top: 0px;
	margin-bottom: 5px;
}
.top-bottom-border{
	padding: 5px;
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
}

.room-table tbody tr td:first-child{
	max-width: 200px;
}
.room-table tbody tr td:first-child img{
	width: 100%;
	height: auto;
}
.room-table tbody tr td:nth-child(2){
	max-width: 300px;
}
.room-table tbody tr td:nth-child(3){
	max-width:100px;
}

.room-table thead{
	text-align: center !important; 
}
.room-table thead th{
	/*text-align: center;*/
}

.room-table tr.room-item td{
	/*text-align: center;*/
	padding-top: 15px;
	padding-bottom: 15px;
}
.room-table tr.room-item td:first-child{
	width: 10%;
}
.room-table tr.room-item td:first-child img{
	width: 100%;
}
.room-table tr.room-item td:nth-child(2){
	width: 25%;
	text-align: left;
}
.room-table tr.room-item td:nth-child(3){
	width: 15%;
}
.room-table tr.room-item td:nth-child(4){
	width: 10%;
}
.room-table tr.room-item td:nth-child(5){
	width: 20%;
}

.room-details:after{
	display: block;
	content: ' ';
	clear: both;
}
.room-details .room-image{
	width: 30%;
	/*display: inline-block;*/
	float: left;
}
.room-details .room-image img{
	width: 100%;
	height: auto;
}
.room-details .room-detail-content{
	/*display: inline-block;*/
	width: 70%;
	float: left;
	padding: 0px 10px;
}
.room-details .room-detail-content h4{
	margin: 0px;
	margin-bottom: 10px;
}
.room-details .room-detail-content p{
	margin-bottom: 5px;
}
.hotel-detail-box h3.listing-title{
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
}
.room-manipulate{
	display: block;
	clear: left;
}
.room-selection-tally{
	border-left: 1px solid #eee;
	/*text-align: center;*/
	position: relative;
	z-index: 10;
}
.room-selection-edit{
	border-right: 1px solid #eee;
}
.room-selection-tally .btn{
	margin-bottom: 15px;
}
.room-selection-tally ul{
	padding-left: 15px;
}
.room-selection-tally h3{
	margin-top: 0px;
	font-size: 28px;
}

.room-option{
	padding: 10px 0px;
	border-bottom: 1px solid #eee;
}
.room-option:first-child{
	padding-top: 0px;
}
.modal{
	z-index: 99999;
}
.modal-content {
	border-radius: 0px;
}
.modal-backdrop {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  /*z-index: 999999;*/
  background-color: #000;
}
.traveller-form h4{
	margin-bottom: 15px;
	margin-top: 10px;
	border-top: 1px solid #f0f0f0;
	padding-top: 10px;
}
.traveller-form h4:first-child{
	border: 0px;
}
.traveller-form .control-label{
	text-align: left;
}


 tr.room-item td:nth-child(7) .btn{
	border-radius: 50%;
	padding: 5px 8px;
}
.room-table{
	margin: 0px;
}

.aditional-room-options{
	display: none;
}
.room-options-toggle{
	cursor: pointer;
	background: #ddd;
	display: inline-block;
	padding-right: 10px; 
}

.room-options-toggle i{
	margin-right: 5px;
	padding: 5px;
	background: #999;
	color: #fff;
	vertical-align: middle;
}

.photo-gallery-container{
	padding: 10px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
	margin-top: 10px;
	position: relative;
	margin-bottom: 15px;
}

#slider-large .item{
	position: relative;
}

#slider-large .item img{
  text-align: center;
  height: auto;
}
#slider-large .item .slider-content{
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 5px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	background: rgba(0,0,0,0.5);
}
#slider-thumb .item{
  color: #FFF;
  border-top: 5px solid transparent;
  text-align: center;
  cursor: pointer;
}
#slider-thumb .item img{
	width: 100%;
}
#slider-thumb .item h1{
	font-size: 18px;
}
#slider-thumb .synced .item{
  border-top: 5px solid #F46F21;
	background: fixed;
}
.slider-thumb-nav-container{
	position: absolute;
	top: 0px;
	width: 100%
}
.slider-thumb-nav{
	background: rgba(0,0,0,0.5);
	position: absolute;
	padding: 5px;
	color: #fff;
	height: 30px;
	width: 30px;
	cursor: pointer;
	border-radius: 50%;
	text-align: center;
}
.slider-thumb-nav:hover{
	background: rgba(0,0,0,0.8);
}
.slider-thumb-nav.thumb-prev{
	top: 20px;
	left: 5px;
}
.slider-thumb-nav.thumb-next{
	top: 20px;
	right: 5px;
}
.slider-thumb-container{
	position: relative;
}
.detail-list{
	padding: 0px;
	padding-left: 20px;
}
.detail-list li{
	padding: 5px 0px;
	list-style: circle;
}
.hotel-information-container{
	margin: 20px 0px;
	padding-bottom: 20px;
	border-bottom: 1px solid #999;
}
.hotel-information-container h3{
	margin: 0px;
	margin-bottom: 10px;
}
.hotel-information-container .hotel-info-table tbody tr td:first-child{
 min-width: 120px;
}
.hotel-information-container .hotel-info-table tbody tr td h4{
	margin: 0px;
	color: #000;
}
.hotel-information-container .list-inline li{
	margin:0px 25px 10px 00px;
}

.item .listing-box-mini{
	margin: 10px;
	margin-left: 2px;
	margin-right: 15px;
}

.listing-box-mini {
	margin-bottom: 10px;
	padding: 5px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}
.listing-box-mini img{
	max-width: 100%;
}
.listing-box-mini .listing-content{
	padding: 5px;
}
.listing-box-mini .listing-content h4{
	margin-bottom: 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.listing-box-mini a{
	text-decoration: none;
	color: #222;
}
.price{
	margin: 0px;
}
.listing-box:last-child{
	border-bottom: 0px;
}
.checkout-process-header{
	position: relative;
	display: block;
}
.checkout-process-header{
	margin: 20px 0px;
}
.checkout-process-header .num-circle{
	padding: 10px 10px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: inline-block;
	text-align: center;
	background: #fff;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
	margin-right: 10px;
	font-size: 20px;
}
.checkout-process-header .checkout-process-title{
	font-size: 20px;
	display: inline-block;
	text-transform: uppercase;
}
.content-box{
	padding: 15px;
	background: #fff;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.2); 
}
.content-box h3:first-child{
	margin-top: 0px;
}
.hotel-booking-overview{
	padding: 15px;
	background: #f4f4f4;
	border-radius: 10px;
	margin: 10px 0px;
}
.hotel-booking-overview h4{
	margin: 0px;
	font-size: 15px;
	margin-bottom: 10px;
}
.hotel-booking-overview span.date-text i{
	font-size: 20px;
}
.text-large{
	font-size: 150%;
}
.airline-listing-table{
	margin: 0px;
}
.airline-listing-table > thead > tr > th {
  border-bottom: 0px solid #DDD;
}
.airline-listing-table > thead > tr > th, .airline-listing-table > tbody > tr > th, .airline-listing-table > tfoot > tr > th, .airline-listing-table > thead > tr > td, .airline-listing-table > tbody > tr > td, .airline-listing-table > tfoot > tr > td {
  border-top: 0px solid #DDD;
}
.flight-list-sort-header{
	border-bottom: 2px solid #ddd;
}
.airline-listing-table .col-empty{
	/*width: 5%;*/
	text-align: center;
}
.airline-listing-table .col-airline{
	width: 15%;
	text-align: center;
}
.airline-listing-table .col-dapart{
	width: 18%;
}
.airline-listing-table .col-arrive{
	width: 18%;
}
.airline-listing-table .col-duration{
	width: 20%;
}
.airline-listing-table .col-price{
	text-align: right;
	padding-right: 20px;
}
.airline-listing-table .col-price .btn{
	min-width: 100px;
}

.flight-list-item{
	padding: 10px 0px;
	margin: 10px;
	border-bottom: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
	/*padding-bottom: 20px;*/
}

.airline-listing-table .col-dapart small{
	display: block;
}
.airline-listing-table .col-arrive small{
	display: block;
}
.airline-listing-table .col-duration small{
	display: block;
}
.flight-list-item .flight-list-tab-link{
	/*opacity: 0;*/
}
.flight-list-item:hover .flight-list-tab-link{
	opacity: 1;
}

.flight-list-tab-link {
	list-style: none;
	padding: 0px;
}
.flight-list-tab-link li{
	display: inline-block;
}
.flight-list-tab-link li a{
	padding: 5px 15px;
	color: #000;
	text-decoration: none;
	border-bottom: 3px solid transparent;
}
.flight-list-tab-link li a:hover{
	border-bottom: 3px solid #ddd;

}
.flight-list-tab-link li.active a{
	border-bottom: 3px solid #DB3633;
}
.flight-list-tab-content{
	position: relative;
	display: block;
	/*box-shadow: 0px 0px 2px rgba(0,0,0,0.1) inset;*/
	padding: 20px;
	border: 1px solid #ddd;
}
.flight-list-tab-content .tab-content-close{
	width: 20px;
	height: 20px;
	background: #DB3633;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	line-height: 20px;
	text-align: center;
	position: absolute;
	top: 5px;
	right: 5px;
}
.itinerary h3{
	margin: 0px;
}
.itinerarySummary, .baggageSummary, .amenitiesSummary {
    display: table;
    width: 100%;
    padding: 8px 0px 11px;
    margin-bottom: 10px;
    height: 76px;
    list-style: none;
}
.itinerarySummary li{
	display: table-cell;
	vertical-align: top;
	padding: 10px;
}
.itinerarySummary {

}
.itinerary p{
  margin: 0px;
}
.air-logo{
	float: left;
}
.air-detail{
	float: left;
}
.itinerarySummary .start{
	width: 21%;
	text-align: right;
}
.itinerarySummary .end{
	width: 21%;
}
.itinerarySummary .detail{
	width: 13%;
	text-align: center;
}
.itinerarySummary .vendor{
	padding-left: 70px;
	padding-right: 50px;
	position: relative;
}
.itinerarySummary .vendor:before{
	width: 50px;
	height: 100%;
	position: absolute;
	left: 0px;
	content: ' ';
	background: url(../images/vendor-before.png) no-repeat;
}
.itinerarySummary .vendor:after{
	width: 50px;
	height: 100%;
	position: absolute;
	right: 0px;
	content: ' ';
	background: url(../images/vendor-after.png) no-repeat;
}
.flight-list-tab-content h3{
	margin: 0px;
	margin-bottom: 10px;
}
.flight-list-tab-content h4{
	margin: 0px;
}
.connector {
  margin: -11px 0px 10px ;
  height: 0px;
  line-height: 0px;
  text-align: center;
  position: relative;
  padding: 0px;
  border-bottom: 1px dotted #E2E2E2;
}
.connector .layOver{
	background: #fff;
	padding: 5px;
	color: #999;
}
.checkbox-group label{
	margin-right: 15px;
}
.checkbox-group label input{
	margin-right: 2px;
	vertical-align: top;
}
.input-group-btn .btn{
	padding-left:5px; 
	padding-right:5px; 
}
.search-summary{
	background: rgba(255,255,255,0.7);
	padding: 5px 10px;
}
.search-summary .location-summary{
	margin-right: 10px;
}
.search-summary .date-summary{
	margin-left: 10px;
	white-space: nowrap;
}
.modify-search-container{
	display: none;
	padding: 20px;
	background: rgba(255,255,255,0.3);
}
.modify-search-toggle{
	margin-top: 25px;
}
.multi-trip-container .row{
	/*margin-bottom: 10px;*/
}
.multi-trip-container{
	background: rgba(255,255,255,0.5);
	padding: 15px;
}
.multicity-leg{
	margin-bottom: 15px;
}
.multicity-add-container{
	text-align: center;
}
.multicity-add-container .multicity-add{
	padding: 5px 30px;
	/*background: #E53935;*/
	/*color: #fff;*/
	/*border: 2px solid #000;*/
	display: inline-block;
	border-radius: 3px;
}

.listView.flights{
	list-style: none;
	padding: 0px;
	margin-bottom: 0px;
}
.listView.flights .listItem label{
	width: 100%;
	cursor: pointer;
}
.listView.flights  .col-price{
	text-align: left;
	padding-right: 0px;
}
.listView.flights .listItem{
	border-bottom: 1px solid #ddd;
}
.listView .listItem.selected{
	background: #f5f5f5;
	border:1px solid #999;
}
.current-selection{
	padding: 15px;
	background: #fff;
	margin-bottom: 10px;
	box-shadow: 0px 2px 2px rgba(0,0,0,.1);
}
.selected-flight-container{
	margin-bottom: 10px;
	border:1px solid #ddd;
	padding: 5px;
}
.flight-logo{
	display: inline-block;
	text-align: center;
}
.flight-logo .flight-code{
	font-size: 10px;
	clear: both;
	display: block;
	margin-top: 5px;
}
.flight-details{
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
}
.flight-details .flight-name{
	display: block;
}
.flight-details .flight-route{
	display: block;
	font-size: 16px;
}
.total-fare-container .total-fare{
	font-size: 30px;
}
.listing-content-header{
	padding: 10px;
	background: #fff;
	margin-bottom: 5px;
	font-size: 18px;
}

.listing-content-header span{
	background: #ddd;
	padding: 5px 10px;
	border-radius: 5px;
	margin-right: 5px;
}
.flight-listing-multi-slider .item{
	margin: 0px 10px;
}
.flight-listing-multi-slider-outer{
	position: relative;
	display: block;
}
.flight-listing-multi-slider-nav{
	position: absolute;
	height: 100%;
	top: 0px;
	width: 100%;
}
.flight-listing-multi-slider-nav .flight-content-nav{
	position: absolute;
	height: 100%;
	background: rgba(255,255,255,.2);
	cursor: pointer;
	z-index: 99;
	vertical-align: middle;
	color: #fff;
}
.flight-listing-multi-slider-nav .flight-content-nav.disabled{
	opacity: 0.5;
}
.flight-listing-multi-slider-nav .flight-content-nav span{
	background: rgba(0,0,0,0.3);
	padding: 10px;
	width: 50px;
	display: block;
	text-align: center;
	top: 40%;
	position: absolute;
}
.flight-listing-multi-slider-nav .flight-content-nav:hover span{
	background: rgba(0,0,0,0.5);
}
.flight-listing-multi-slider-nav .flight-content-nav.prev{
	left: 0px;
	width: 50px;
	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );

}
.flight-listing-multi-slider-nav .flight-content-nav.next{
	right: 0px;
	width: 50px;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );

}
.listing-rating i{
	color: #ffd600;
	font-size: 20px;
}
.reviews-container{
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #dadada;
}
.reviews-container h3{
	margin-bottom: 15px;
	margin-top: 0px;
}
.review-box{
	padding: 15px;
	background: #fff;
	border-radius: 0px;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
	margin-bottom: 15px;
}
.review-box h3{
	margin-top: 0px;
	margin-bottom: 5px;
}
.pagination li a{
	color: #555;
	font-weight: bold;
	padding: 10px 15px;
}
.pagination li a:hover{
	color: #000;
}
.hotel-header{
	border-bottom: 1px solid #dadada;
	margin-bottom: 10px;
}
.write-review-form-container{
	padding: 15px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}
.write-review-form-container h3{
	margin: 0px;
	margin-bottom: 10px;
}
.rating-container{
	position: relative;
	display: block;
	margin-top: 5px;
}
.rating-container:after{
	display: block;
	content: " ";
	clear: both;
}
.rating-container .star-rating{
	float: left;
}
.rating-container .rating-target{
	display: inline-block;
	padding: 3px 10px;
	background: #555;
	color: #fff;
	position: relative;
	margin-left: 10px;
	border-radius: 3px;
	font-size: 14px;
}
.rating-container .rating-target:before{
	display: inline-block;
	content: " ";
	position: absolute;
	left: -10px;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid #555; 
}
.option-select-box{
	background: #f0f0f0;
	padding:7px; 
	margin-bottom: 2px;
}
.option-select-box p{
	/*line-height: 35px;*/
	line-height: 15px;
	margin-bottom: 0px;
}
.traveller-detail-form{
	padding-right: 20px;
}
.traveller-detail-form .col-sm-2, .traveller-detail-form .col-sm-3, .traveller-detail-form .col-sm-4{
	padding: 5px;
}
.traveller-detail-form .form-group{
	margin-bottom: 0px;
}
.traveller-detail-form .control-label{
	line-height: 30px;
}
.ui-autocomplete {
	max-height: 180px;
	overflow-y: auto;
	overflow-x: hidden;
}

* html .ui-autocomplete {
	height: 100px;
}


/*.rating-f .br-widget {
    height: 24px;
}
.rating-f select{
	height: 0px;
	width: 0px;
	opacity: 0;
	visibility: hidden;
}
.rating-f .br-widget a {
    background: url('../images/rating-star.png');
    width: 24px;
    height: 24px;
    display: block;
    float: left;
}

.rating-f .br-widget a:hover,
.rating-f .br-widget a.br-active,
.rating-f .br-widget a.br-selected {
    background-position: 0 24px;
}
.rating-f .br-readonly a:hover,
.rating-f .br-readonly a.br-active,
.rating-f .br-readonly a.br-selected {
    background-position: 0px 0px;
}*/
.categorized-listing-container{
	position: relative;
	display: block;
	margin-bottom: 20px;
}
.categorized-listing-header{
	padding: 10px 0px;
	border-bottom: 1px solid #dadada;
	margin-bottom: 10px;
}
.categorized-listing-header h3{
	margin: 0px;
}
.categorized-listing-header h3 a{
	margin-left: 10px;
	color: #444;
	text-decoration:none;
}
.categorized-listing-box{
	background: #fff;
	padding: 10px;
	box-shadow: 0px 2px 2px rgba(0,0,0,.2);
}
.categorized-listing-box.premium{
	position: relative;
}
.categorized-listing-box.premium:before{
	height: 80px;
	width: 80px;
	background: url(../images/premium-ribbon.png) top left no-repeat;
	position: absolute;
	content: ' ';
	top: 0px;
	left:0px;
	z-index: 999;
}
.categorized-listing-box .categorized-listing-image{
	margin-bottom: 5px;
}
.categorized-listing-box .categorized-listing-content h3{
	font-size: 18px;
	margin: 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
}
.categorized-listing-box .categorized-listing-content span{
	clear: left;
	display: block;
}
.categorized-listing-content a{
	color: #555;
	text-decoration: none;
}
.categorized-listing-content a:hover{
	color: #111;
}
.categorized-listing-content .btn{
	margin-top: 5px;
}

.category-accordian-container{
	list-style: none;
	padding:0px; 
	font-weight: normal;
}
.category-accordian-container > li{
	display: block;
	position: relative;
}
.category-accordian-container > li:hover{
	background: #f0f0f0;
}
.category-accordian-container > li > a{
	position: relative;
	border-bottom: 1px solid #ddd;
	display: block;
	padding: 5px 2px;
	color: #333;
	text-decoration: none;
}
.category-accordian-container .has-sub span i{
	transition:0.3s all;
}
.category-accordian-container .has-sub span{
	position: absolute;
	top: 3px;
	right: 2px;
	cursor: pointer;
	padding:3px 6px; 
	padding-top: 4px;
	padding-bottom: 2px;
	background: #555;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	font-size: 12px;
	z-index: 999;
}
.category-accordian-container .has-sub span.opened i{
	-webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.category-accordian-container .has-sub span:hover{
	background: #777;
}
.category-accordian-container > li > ul.sub-menu-container{
	list-style: none;
	padding: 0px;
	padding: 5px 10px;
}
.category-accordian-container > li > ul.sub-menu-container > li{
	position: relative;
}
.category-accordian-container > li > ul.sub-menu-container > li > a{
	text-decoration: none;
	padding: 5px 0px;
	display: block;
	color: #333;
	/*border-bottom: 1px solid #ddd;*/
}
ul.sub-menu-container{
	list-style: none;
	padding: 5px 10px;
	background: rgba(0,0,0,0.1);
}
ul.sub-menu-container > li > a{
	color: #333;
	text-decoration: none;
}
.catergory-select-container{
	padding: 10px 30px;
}
.catergory-select-container h3{
	margin-top: 0px;
}
.catergory-select-container .form-group{
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 0px;
}
.catergory-select-container .tick-radio + label{
	margin-left: 0px;
}
.catergory-select-button{
	padding-top: 15px;
}


.main-tab-container .tab-pane{
	background: #fff;
	padding: 15px;
	border:0px;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}
.main-tab-container .tab-pane h3:first-child{
	margin-top: 0px;
}
.main-tab-container .tab-pane ul{
	padding-left: 15px;
	list-style: circle;
}
.main-tab-container .tab-pane ul li{
	padding: 3px 0px;
}
.main-tab-container .nav-tabs li a{
	border:0px;
	color: #333;
	border-radius: 10px 10px 0px 0px;
	color: #fff;
	font-weight: bold;
}

.main-tab-container .nav-tabs li.active a{
	border:0px;
	background: #fff;
}
.main-tab-container .nav-tabs li a:hover{
	border:0px;
}
.main-tab-container{
	margin-bottom: 20px;
}

.package-city-header{
	padding: 30px 0px;
	text-align: center;
	color: #fff;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.4);
}

.package-listing-box{
	position: relative;
	background: #fff;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}
.package-listing-box .package-listing-content{
	padding: 10px;
}
.package-listing-box .package-listing-content h3{
	font-size: 18px;
	font-weight: bold;
	margin: 0px;
}
.package-listing-box .package-listing-content a{
	text-decoration: none;
	color: #333;
}
.package-listing-box .package-listing-content a:hover{
	color: #000;
}
.package-listing-image-container{
	position: relative;
}

.package-listing-box{
	margin-bottom: 20px;
}
.package-listing-duration{
	position: absolute;
	bottom: 20px;
	background: rgba(0,0,0,0.7);
	width: 100%;
	color: #fff;
	padding: 5px;
}
.package-listing-price{
	width: 100px;
	height: 100px;
	background: #D42BA6;
	border-radius: 50%;
	text-align: center;
	border:2px solid #fff;
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding-top: 35px;
	font-size: 16px;
	color: #fff;
	font-weight: bold;
}
.package-search-header{
	background: rgba(255,255,255,0.8);
	display: block;
	padding: 15px;
	color: #111;
	text-shadow:none;
	text-align: left;
}
.package-search-header .result-category-container:after{
	display: block;
	content: ' ';
	clear: both;
}
.package-search-header .result-category-container .result-cat-box{
	/*width: 23%;*/
	/*margin: 1%;*/
	margin-right: 5px;
	margin-top: 5px;
	float: left;
}
.package-search-header .result-category-container .result-cat-box .result-category-title{
	font-size: 13px;
}
.package-search-header .result-category-container .result-cat-box .result-category-count{
	text-align: right;
}

.information-box{
	background: #fff;
	padding: 15px;
	box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
}
.information-box h3{
	margin-top: 0px;
}
.information-box h4{
	border-bottom: 1px solid #D42BA6;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.information-box ul{
	padding-left: 20px;
}
.information-box ul li{
	padding: 5px 0px;
}


.star-rating.large img{
	-ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari */
  transform: scale(1.2);
  margin-right: 2px;
}
.main-tab-container .reviews-container{
	border:0px;
}

.col-md-4:nth-child(3n+1){
	clear: both;
}
.itinerary-box{
	border-bottom: 1px solid #ddd;
	position: relative;
	min-height: 55px;
	margin-bottom: 10px;
}
.itinerary-box .itinerary-icon{
	width: 50px;
	position: absolute;
	left: 0px;
	top: 0px;
	background: #AD2387;
	background: #D42BA6;
	text-align: center;
	color: #fff;
}
.itinerary-box .itinerary-content{
	padding-left: 60px;
	padding-bottom: 5px;
}
.itinerary-content h4{
	margin-top: 0px;
	margin-bottom: 5px;
}
.itinerary-content h4 a{
	color: #222222;
}

.info-window-content .result-category-container .result-cat-box{
	text-align: center;
	width: auto;
	font-size: 14px;
	margin: 2px 0px;
}
.info-window-content .result-category-container .result-cat-box .result-category-title{
	width: auto;
	height: auto;
}


#ui-datepicker-div{
	z-index: 9999 !important;
}

.event > a { 
  background-color: #feff97;
  background-image:  url(../images/date-holiday-ico.png);
  background-position: top left;
  background-repeat: no-repeat;
}

.ui-datepicker{
	background: #fff;
	width: 200px;
	/*padding: .2em .2em;*/
	box-shadow: 0px 3px 5px rgba(0,0,0,0.3); 
}
.ui-datepicker .ui-state-active{
 background-color: #666;
 color: #fff;
}
.ui-state-highlight{
	background: #ddd;
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
	background: #999;
	color: #fff;
	font-weight: bold;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 1px;
	width: 2em;
	height: 2em;
	cursor: pointer;
	background: rgba(0,0,0,0.15);
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	/*display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -10px;
	color: #fff;*/
	font-size: 0px;
	width: 28px;
	height: 28px;
	display: block;
}
.ui-datepicker .ui-datepicker-prev span{
	background: url(../images/datepicker-prev.png) no-repeat center center;
}
.ui-datepicker .ui-datepicker-next span{
	background: url(../images/datepicker-next.png) no-repeat center center;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 45%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td:hover {
	background: #eee;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
	color: #222;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}
.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}
.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}
.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}
.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}
.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}
.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}
.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0;
}

.date_picker{
	background-image: url(../images/calandar-icon.png);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
.ui-datepicker-group{
	border-right: 1px solid rgba(0,0,0,0.2);
}
