
/* Green Color Themes Start */
.theme-green .btn-default{
	background: #43A047;
	border-color:#357E38;
	color: #fff;
	transition:0.3s all;
}
.theme-green .box-title{
	color: #43A047;
}

.theme-green .btn-default:hover{
	background: #357E38;
}

.theme-green .btn-default.active{
	background: #317433;
	border-color:#357E38;
	color: #fff;
	transition:0.3s all;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.7) inset;
}


.theme-green .input-group-addon{
	background: #43A047;
	border-color:#357E38;
	color: #fff;
	transition:0.3s all;
}
.theme-green .input-group-addon:hover{
	background: #357E38;
}
.theme-green .datepicker-days table thead > tr:first-child{
	background: #43A047;
	color: #fff;
}
.theme-green .datepicker-days table thead > tr:first-child > td{
	background: #43A047;
}
.theme-green .datepicker-months table thead > tr:first-child{
	background: #43A047;
	color: #fff;
}
.theme-green .datepicker-months table thead > tr:first-child > td{
	background: #43A047;
}
.theme-green .datepicker-years table thead > tr:first-child{
	background: #43A047;
	color: #fff;
}
.theme-green .datepicker-years table thead > tr:first-child > td{
	background: #43A047;
}

.theme-green .datepicker table tr td.today, .theme-green .datepicker table tr td.today:hover, .theme-green .datepicker table tr td.today.disabled, .theme-green .datepicker table tr td.today.disabled:hover {
	color: #000000;
	background-color: #88d98a;
	border-color: #88d98a;
}
.theme-green .datepicker table tr td.today:hover, .theme-green .datepicker table tr td.today:hover:hover, .theme-green .datepicker table tr td.today.disabled:hover, .theme-green .datepicker table tr td.today.disabled:hover:hover, .theme-green .datepicker table tr td.today:focus, .theme-green .datepicker table tr td.today:hover:focus, .theme-green .datepicker table tr td.today.disabled:focus, .theme-green .datepicker table tr td.today.disabled:hover:focus, .theme-green .datepicker table tr td.today:active, .theme-green .datepicker table tr td.today:hover:active, .theme-green .datepicker table tr td.today.disabled:active, .theme-green .datepicker table tr td.today.disabled:hover:active, .theme-green .datepicker table tr td.today.active, .theme-green .datepicker table tr td.today:hover.active, .theme-green .datepicker table tr td.today.disabled.active, .theme-green .datepicker table tr td.today.disabled:hover.active, .theme-green .open .dropdown-toggle.datepicker table tr td.today, .theme-green .open .dropdown-toggle.datepicker table tr td.today:hover, .theme-green .open .dropdown-toggle.datepicker table tr td.today.disabled, .theme-green .open .dropdown-toggle.datepicker table tr td.today.disabled:hover {	
	color: #000000;
	background-color: #6fb171;
	border-color: #6fb171;
}
.theme-green .datepicker table tr td.active:hover, .theme-green .datepicker table tr td.active:hover:hover, .theme-green .datepicker table tr td.active.disabled:hover, .theme-green .datepicker table tr td.active.disabled:hover:hover, .theme-green .datepicker table tr td.active:focus, .theme-green .datepicker table tr td.active:hover:focus, .theme-green .datepicker table tr td.active.disabled:focus, .theme-green .datepicker table tr td.active.disabled:hover:focus, .theme-green .datepicker table tr td.active:active, .theme-green .datepicker table tr td.active:hover:active, .theme-green .datepicker table tr td.active.disabled:active, .theme-green .datepicker table tr td.active.disabled:hover:active, .theme-green .datepicker table tr td.active.active, .theme-green .datepicker table tr td.active:hover.active, .theme-green .datepicker table tr td.active.disabled.active, .theme-green .datepicker table tr td.active.disabled:hover.active, .theme-green .open .dropdown-toggle.datepicker table tr td.active, .theme-green .open .dropdown-toggle.datepicker table tr td.active:hover, .theme-green .open .dropdown-toggle.datepicker table tr td.active.disabled, .theme-green .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {	
	color: #ffffff;
	background-color: #357E38;
	border-color: #357E38;
}

.theme-green .datepicker table tr td.active:hover, .theme-green .datepicker table tr td.active:hover:hover, .theme-green .datepicker table tr td.active.disabled:hover, .theme-green .datepicker table tr td.active.disabled:hover:hover, .theme-green .datepicker table tr td.active:focus, .theme-green .datepicker table tr td.active:hover:focus, .theme-green .datepicker table tr td.active.disabled:focus, .theme-green .datepicker table tr td.active.disabled:hover:focus, .theme-green .datepicker table tr td.active:active, .theme-green .datepicker table tr td.active:hover:active, .theme-green .datepicker table tr td.active.disabled:active, .theme-green .datepicker table tr td.active.disabled:hover:active, .theme-green .datepicker table tr td.active.active, .theme-green .datepicker table tr td.active:hover.active, .theme-green .datepicker table tr td.active.disabled.active, .theme-green .datepicker table tr td.active.disabled:hover.active, .theme-green .open .dropdown-toggle.datepicker table tr td.active, .theme-green .open .dropdown-toggle.datepicker table tr td.active:hover, .theme-green .open .dropdown-toggle.datepicker table tr td.active.disabled, .theme-green .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
	color: #ffffff;
	background-color: #357E38;
	border-color: #357E38;
}

.theme-green .datepicker table tr td span.active:hover, .theme-green .datepicker table tr td span.active:hover:hover, .theme-green .datepicker table tr td span.active.disabled:hover, .theme-green .datepicker table tr td span.active.disabled:hover:hover, .theme-green .datepicker table tr td span.active:focus, .theme-green .datepicker table tr td span.active:hover:focus, .theme-green .datepicker table tr td span.active.disabled:focus, .theme-green .datepicker table tr td span.active.disabled:hover:focus, .theme-green .datepicker table tr td span.active:active, .theme-green .datepicker table tr td span.active:hover:active, .theme-green .datepicker table tr td span.active.disabled:active, .theme-green .datepicker table tr td span.active.disabled:hover:active, .theme-green .datepicker table tr td span.active.active, .theme-green .datepicker table tr td span.active:hover.active, .theme-green .datepicker table tr td span.active.disabled.active, .theme-green .datepicker table tr td span.active.disabled:hover.active, .theme-green .open .dropdown-toggle.datepicker table tr td span.active, .theme-green .open .dropdown-toggle.datepicker table tr td span.active:hover, .theme-green .open .dropdown-toggle.datepicker table tr td span.active.disabled, .theme-green .open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
	color: #ffffff;
	background-color: #357E38;
	border-color: #357E38;
}

.theme-green  .datepicker-dropdown:after {
    border-color: -moz-use-text-color transparent #43A047;
    content: normal;
}
.theme-green  .datepicker thead tr:first-child th:hover, 
.theme-green  .datepicker tfoot tr th:hover {
	background: #357E38;
}
/* Green Color Themes End */


/* Purple Color Themes Start */
.theme-purple .btn-default{
	background: #7D56C1;
	border-color:#624595;
	color: #fff;
	transition:0.3s all;
}
.theme-purple .box-title{
	color: #7D56C1;
}
.theme-purple .btn-default:hover{
	background: #624595;
}
.theme-purple .btn-default.active{
	background: #624595;
	border-color:#624595;
	color: #fff;
	transition:0.3s all;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.7) inset;
}
.theme-purple .input-group-addon{
	background: #7D56C1;
	border-color:#624595;
	color: #fff;
	transition:0.3s all;
}
.theme-purple .input-group-addon:hover{
	background: #624595;
}
.theme-purple .datepicker-days table thead > tr:first-child{
	background: #7D56C1;
	color: #fff;
}
.theme-purple .datepicker-days table thead > tr:first-child > td{
	background: #7D56C1;
}
.theme-purple .datepicker-months table thead > tr:first-child{
	background: #7D56C1;
	color: #fff;
}
.theme-purple .datepicker-months table thead > tr:first-child > td{
	background: #7D56C1;
}
.theme-purple .datepicker-years table thead > tr:first-child{
	background: #7D56C1;
	color: #fff;
}
.theme-purple .datepicker-years table thead > tr:first-child > td{
	background: #7D56C1;
}

.theme-purple .datepicker table tr td.today, .theme-purple .datepicker table tr td.today:hover, .theme-purple .datepicker table tr td.today.disabled, .theme-purple .datepicker table tr td.today.disabled:hover {
	color: #000000;
	background-color: #bf8bfe;
	border-color: #bf8bfe;
}
.theme-purple .datepicker table tr td.today:hover, .theme-purple .datepicker table tr td.today:hover:hover, .theme-purple .datepicker table tr td.today.disabled:hover, .theme-purple .datepicker table tr td.today.disabled:hover:hover, .theme-purple .datepicker table tr td.today:focus, .theme-purple .datepicker table tr td.today:hover:focus, .theme-purple .datepicker table tr td.today.disabled:focus, .theme-purple .datepicker table tr td.today.disabled:hover:focus, .theme-purple .datepicker table tr td.today:active, .theme-purple .datepicker table tr td.today:hover:active, .theme-purple .datepicker table tr td.today.disabled:active, .theme-purple .datepicker table tr td.today.disabled:hover:active, .theme-purple .datepicker table tr td.today.active, .theme-purple .datepicker table tr td.today:hover.active, .theme-purple .datepicker table tr td.today.disabled.active, .theme-purple .datepicker table tr td.today.disabled:hover.active, .theme-purple .open .dropdown-toggle.datepicker table tr td.today, .theme-purple .open .dropdown-toggle.datepicker table tr td.today:hover, .theme-purple .open .dropdown-toggle.datepicker table tr td.today.disabled, .theme-purple .open .dropdown-toggle.datepicker table tr td.today.disabled:hover {	
	color: #000000;
	background-color: #bf8bfe;
	border-color: #bf8bfe;
}
.theme-purple .datepicker table tr td.active:hover, .theme-purple .datepicker table tr td.active:hover:hover, .theme-purple .datepicker table tr td.active.disabled:hover, .theme-purple .datepicker table tr td.active.disabled:hover:hover, .theme-purple .datepicker table tr td.active:focus, .theme-purple .datepicker table tr td.active:hover:focus, .theme-purple .datepicker table tr td.active.disabled:focus, .theme-purple .datepicker table tr td.active.disabled:hover:focus, .theme-purple .datepicker table tr td.active:active, .theme-purple .datepicker table tr td.active:hover:active, .theme-purple .datepicker table tr td.active.disabled:active, .theme-purple .datepicker table tr td.active.disabled:hover:active, .theme-purple .datepicker table tr td.active.active, .theme-purple .datepicker table tr td.active:hover.active, .theme-purple .datepicker table tr td.active.disabled.active, .theme-purple .datepicker table tr td.active.disabled:hover.active, .theme-purple .open .dropdown-toggle.datepicker table tr td.active, .theme-purple .open .dropdown-toggle.datepicker table tr td.active:hover, .theme-purple .open .dropdown-toggle.datepicker table tr td.active.disabled, .theme-purple .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {	
	color: #ffffff;
	background-color: #624595;
	border-color: #624595;
}

.theme-purple .datepicker table tr td.active:hover, .theme-purple .datepicker table tr td.active:hover:hover, .theme-purple .datepicker table tr td.active.disabled:hover, .theme-purple .datepicker table tr td.active.disabled:hover:hover, .theme-purple .datepicker table tr td.active:focus, .theme-purple .datepicker table tr td.active:hover:focus, .theme-purple .datepicker table tr td.active.disabled:focus, .theme-purple .datepicker table tr td.active.disabled:hover:focus, .theme-purple .datepicker table tr td.active:active, .theme-purple .datepicker table tr td.active:hover:active, .theme-purple .datepicker table tr td.active.disabled:active, .theme-purple .datepicker table tr td.active.disabled:hover:active, .theme-purple .datepicker table tr td.active.active, .theme-purple .datepicker table tr td.active:hover.active, .theme-purple .datepicker table tr td.active.disabled.active, .theme-purple .datepicker table tr td.active.disabled:hover.active, .theme-purple .open .dropdown-toggle.datepicker table tr td.active, .theme-purple .open .dropdown-toggle.datepicker table tr td.active:hover, .theme-purple .open .dropdown-toggle.datepicker table tr td.active.disabled, .theme-purple .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
	color: #ffffff;
	background-color: #624595;
	border-color: #624595;
}

.theme-purple .datepicker table tr td span.active:hover, .theme-purple .datepicker table tr td span.active:hover:hover, .theme-purple .datepicker table tr td span.active.disabled:hover, .theme-purple .datepicker table tr td span.active.disabled:hover:hover, .theme-purple .datepicker table tr td span.active:focus, .theme-purple .datepicker table tr td span.active:hover:focus, .theme-purple .datepicker table tr td span.active.disabled:focus, .theme-purple .datepicker table tr td span.active.disabled:hover:focus, .theme-purple .datepicker table tr td span.active:active, .theme-purple .datepicker table tr td span.active:hover:active, .theme-purple .datepicker table tr td span.active.disabled:active, .theme-purple .datepicker table tr td span.active.disabled:hover:active, .theme-purple .datepicker table tr td span.active.active, .theme-purple .datepicker table tr td span.active:hover.active, .theme-purple .datepicker table tr td span.active.disabled.active, .theme-purple .datepicker table tr td span.active.disabled:hover.active, .theme-purple .open .dropdown-toggle.datepicker table tr td span.active, .theme-purple .open .dropdown-toggle.datepicker table tr td span.active:hover, .theme-purple .open .dropdown-toggle.datepicker table tr td span.active.disabled, .theme-purple .open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
	color: #ffffff;
	background-color: #624595;
	border-color: #624595;
}

.theme-purple  .datepicker-dropdown:after {
    border-color: -moz-use-text-color transparent #7D56C1;
    content:normal;
}
.theme-purple  .datepicker thead tr:first-child th:hover, 
.theme-purple  .datepicker tfoot tr th:hover {
	background: #624595;
}
.theme-purple .tick-radio:checked + label > span:before{
  color: #7E57C2;
}

/* Purple Color Themes End */



/* Red Color Themes Start */

.theme-red .color-default{
	color: #E53935
}
.theme-red .slider-selection {
    background: #E53935;
}
.theme-red .slider-handle {
	background: #790000;
}


.theme-red .btn-default{
	background: #E53935;
	border-color:#B32C29;
	color: #fff;
	transition:0.3s all;
}
.theme-red .box-title{
	color: #E53935;
}
.theme-red .btn-default:hover{
	background: #B32C29;
}
.theme-red .input-group-addon{
	background: #E53935;
	border-color:#B32C29;
	color: #fff;
	transition:0.3s all;
}
.theme-red .input-group-addon:hover{
	background: #B32C29;
}
.theme-red .btn-default.active{
	background: #962523;
	border-color:#B32C29;
	color: #fff;
	transition:0.3s all;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.7) inset;
}
.theme-red .datepicker-days table thead > tr:first-child{
	background: #E53935;
	color: #fff;
}
.theme-red .datepicker-days table thead > tr:first-child > td{
	background: #E53935;
}
.theme-red .datepicker-months table thead > tr:first-child{
	background: #E53935;
	color: #fff;
}
.theme-red .datepicker-months table thead > tr:first-child > td{
	background: #E53935;
}
.theme-red .datepicker-years table thead > tr:first-child{
	background: #E53935;
	color: #fff;
}
.theme-red .datepicker-years table thead > tr:first-child > td{
	background: #E53935;
}

.theme-red .datepicker table tr td.today, .theme-red .datepicker table tr td.today:hover, .theme-red .datepicker table tr td.today.disabled, .theme-red .datepicker table tr td.today.disabled:hover {
	color: #000000;
	background-color: #ff8383;
	border-color: #ff8383;
}
.theme-red .datepicker table tr td.today:hover, .theme-red .datepicker table tr td.today:hover:hover, .theme-red .datepicker table tr td.today.disabled:hover, .theme-red .datepicker table tr td.today.disabled:hover:hover, .theme-red .datepicker table tr td.today:focus, .theme-red .datepicker table tr td.today:hover:focus, .theme-red .datepicker table tr td.today.disabled:focus, .theme-red .datepicker table tr td.today.disabled:hover:focus, .theme-red .datepicker table tr td.today:active, .theme-red .datepicker table tr td.today:hover:active, .theme-red .datepicker table tr td.today.disabled:active, .theme-red .datepicker table tr td.today.disabled:hover:active, .theme-red .datepicker table tr td.today.active, .theme-red .datepicker table tr td.today:hover.active, .theme-red .datepicker table tr td.today.disabled.active, .theme-red .datepicker table tr td.today.disabled:hover.active, .theme-red .open .dropdown-toggle.datepicker table tr td.today, .theme-red .open .dropdown-toggle.datepicker table tr td.today:hover, .theme-red .open .dropdown-toggle.datepicker table tr td.today.disabled, .theme-red .open .dropdown-toggle.datepicker table tr td.today.disabled:hover {	
	color: #000000;
	background-color: #ff8383;
	border-color: #ff8383;
}
.theme-red .datepicker table tr td.active:hover, .theme-red .datepicker table tr td.active:hover:hover, .theme-red .datepicker table tr td.active.disabled:hover, .theme-red .datepicker table tr td.active.disabled:hover:hover, .theme-red .datepicker table tr td.active:focus, .theme-red .datepicker table tr td.active:hover:focus, .theme-red .datepicker table tr td.active.disabled:focus, .theme-red .datepicker table tr td.active.disabled:hover:focus, .theme-red .datepicker table tr td.active:active, .theme-red .datepicker table tr td.active:hover:active, .theme-red .datepicker table tr td.active.disabled:active, .theme-red .datepicker table tr td.active.disabled:hover:active, .theme-red .datepicker table tr td.active.active, .theme-red .datepicker table tr td.active:hover.active, .theme-red .datepicker table tr td.active.disabled.active, .theme-red .datepicker table tr td.active.disabled:hover.active, .theme-red .open .dropdown-toggle.datepicker table tr td.active, .theme-red .open .dropdown-toggle.datepicker table tr td.active:hover, .theme-red .open .dropdown-toggle.datepicker table tr td.active.disabled, .theme-red .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {	
	color: #ffffff;
	background-color: #B32C29;
	border-color: #B32C29;
}

.theme-red .datepicker table tr td.active:hover, .theme-red .datepicker table tr td.active:hover:hover, .theme-red .datepicker table tr td.active.disabled:hover, .theme-red .datepicker table tr td.active.disabled:hover:hover, .theme-red .datepicker table tr td.active:focus, .theme-red .datepicker table tr td.active:hover:focus, .theme-red .datepicker table tr td.active.disabled:focus, .theme-red .datepicker table tr td.active.disabled:hover:focus, .theme-red .datepicker table tr td.active:active, .theme-red .datepicker table tr td.active:hover:active, .theme-red .datepicker table tr td.active.disabled:active, .theme-red .datepicker table tr td.active.disabled:hover:active, .theme-red .datepicker table tr td.active.active, .theme-red .datepicker table tr td.active:hover.active, .theme-red .datepicker table tr td.active.disabled.active, .theme-red .datepicker table tr td.active.disabled:hover.active, .theme-red .open .dropdown-toggle.datepicker table tr td.active, .theme-red .open .dropdown-toggle.datepicker table tr td.active:hover, .theme-red .open .dropdown-toggle.datepicker table tr td.active.disabled, .theme-red .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
	color: #ffffff;
	background-color: #B32C29;
	border-color: #B32C29;
}

.theme-red .datepicker table tr td span.active:hover, .theme-red .datepicker table tr td span.active:hover:hover, .theme-red .datepicker table tr td span.active.disabled:hover, .theme-red .datepicker table tr td span.active.disabled:hover:hover, .theme-red .datepicker table tr td span.active:focus, .theme-red .datepicker table tr td span.active:hover:focus, .theme-red .datepicker table tr td span.active.disabled:focus, .theme-red .datepicker table tr td span.active.disabled:hover:focus, .theme-red .datepicker table tr td span.active:active, .theme-red .datepicker table tr td span.active:hover:active, .theme-red .datepicker table tr td span.active.disabled:active, .theme-red .datepicker table tr td span.active.disabled:hover:active, .theme-red .datepicker table tr td span.active.active, .theme-red .datepicker table tr td span.active:hover.active, .theme-red .datepicker table tr td span.active.disabled.active, .theme-red .datepicker table tr td span.active.disabled:hover.active, .theme-red .open .dropdown-toggle.datepicker table tr td span.active, .theme-red .open .dropdown-toggle.datepicker table tr td span.active:hover, .theme-red .open .dropdown-toggle.datepicker table tr td span.active.disabled, .theme-red .open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
	color: #ffffff;
	background-color: #B32C29;
	border-color: #B32C29;
}

.theme-red  .datepicker-dropdown:after {
    border-color: -moz-use-text-color transparent #E53935;
    content: normal;
}
.theme-red  .datepicker thead tr:first-child th:hover, 
.theme-red  .datepicker tfoot tr th:hover {
	background: #B32C29;
}

.theme-red .tick-radio:checked + label > span:before{
  color: #E53935;
}
/* Red Color Themes End */



/* Orange Color Themes Start */
.theme-orange .color-default{
	color: #f36f21
}
.theme-orange .slider-selection {
    background: #f36f21;
}
.theme-orange .slider-handle {
	background: #5a290c;
}

.theme-orange .btn-default{
	background: #f36f21;
	border-color:#bc561a;
	color: #fff;
	transition:0.3s all;
}
.theme-orange .box-title{
	color: #f36f21;
}
.theme-orange .btn-default:hover{
	background: #bc561a;
}
.theme-orange .input-group-addon{
	background: #f36f21;
	border-color:#bc561a;
	color: #fff;
	transition:0.3s all;
}
.theme-orange .input-group-addon:hover{
	background: #bc561a;
}
.theme-orange .btn-default.active{
	background: #6c310f;
	border-color:#6c310f;
	color: #fff;
	transition:0.3s all;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.7) inset;
}
.theme-orange .datepicker-days table thead > tr:first-child{
	background: #f36f21;
	color: #fff;
}
.theme-orange .datepicker-days table thead > tr:first-child > td{
	background: #f36f21;
}
.theme-orange .datepicker-months table thead > tr:first-child{
	background: #f36f21;
	color: #fff;
}
.theme-orange .datepicker-months table thead > tr:first-child > td{
	background: #f36f21;
}
.theme-orange .datepicker-years table thead > tr:first-child{
	background: #f36f21;
	color: #fff;
}
.theme-orange .datepicker-years table thead > tr:first-child > td{
	background: #f36f21;
}

.theme-orange .datepicker table tr td.today, .theme-orange .datepicker table tr td.today:hover, .theme-orange .datepicker table tr td.today.disabled, .theme-orange .datepicker table tr td.today.disabled:hover {
	color: #000000;
	background-color: #f39e44;
	border-color: #f39e44;
}
.theme-orange .datepicker table tr td.today:hover, .theme-orange .datepicker table tr td.today:hover:hover, .theme-orange .datepicker table tr td.today.disabled:hover, .theme-orange .datepicker table tr td.today.disabled:hover:hover, .theme-orange .datepicker table tr td.today:focus, .theme-orange .datepicker table tr td.today:hover:focus, .theme-orange .datepicker table tr td.today.disabled:focus, .theme-orange .datepicker table tr td.today.disabled:hover:focus, .theme-orange .datepicker table tr td.today:active, .theme-orange .datepicker table tr td.today:hover:active, .theme-orange .datepicker table tr td.today.disabled:active, .theme-orange .datepicker table tr td.today.disabled:hover:active, .theme-orange .datepicker table tr td.today.active, .theme-orange .datepicker table tr td.today:hover.active, .theme-orange .datepicker table tr td.today.disabled.active, .theme-orange .datepicker table tr td.today.disabled:hover.active, .theme-orange .open .dropdown-toggle.datepicker table tr td.today, .theme-orange .open .dropdown-toggle.datepicker table tr td.today:hover, .theme-orange .open .dropdown-toggle.datepicker table tr td.today.disabled, .theme-orange .open .dropdown-toggle.datepicker table tr td.today.disabled:hover {	
	color: #000000;
	background-color: #f39e44;
	border-color: #f39e44;
}
.theme-orange .datepicker table tr td.active:hover, .theme-orange .datepicker table tr td.active:hover:hover, .theme-orange .datepicker table tr td.active.disabled:hover, .theme-orange .datepicker table tr td.active.disabled:hover:hover, .theme-orange .datepicker table tr td.active:focus, .theme-orange .datepicker table tr td.active:hover:focus, .theme-orange .datepicker table tr td.active.disabled:focus, .theme-orange .datepicker table tr td.active.disabled:hover:focus, .theme-orange .datepicker table tr td.active:active, .theme-orange .datepicker table tr td.active:hover:active, .theme-orange .datepicker table tr td.active.disabled:active, .theme-orange .datepicker table tr td.active.disabled:hover:active, .theme-orange .datepicker table tr td.active.active, .theme-orange .datepicker table tr td.active:hover.active, .theme-orange .datepicker table tr td.active.disabled.active, .theme-orange .datepicker table tr td.active.disabled:hover.active, .theme-orange .open .dropdown-toggle.datepicker table tr td.active, .theme-orange .open .dropdown-toggle.datepicker table tr td.active:hover, .theme-orange .open .dropdown-toggle.datepicker table tr td.active.disabled, .theme-orange .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {	
	color: #ffffff;
	background-color: #bc561a;
	border-color: #bc561a;
}

.theme-orange .datepicker table tr td.active:hover, .theme-orange .datepicker table tr td.active:hover:hover, .theme-orange .datepicker table tr td.active.disabled:hover, .theme-orange .datepicker table tr td.active.disabled:hover:hover, .theme-orange .datepicker table tr td.active:focus, .theme-orange .datepicker table tr td.active:hover:focus, .theme-orange .datepicker table tr td.active.disabled:focus, .theme-orange .datepicker table tr td.active.disabled:hover:focus, .theme-orange .datepicker table tr td.active:active, .theme-orange .datepicker table tr td.active:hover:active, .theme-orange .datepicker table tr td.active.disabled:active, .theme-orange .datepicker table tr td.active.disabled:hover:active, .theme-orange .datepicker table tr td.active.active, .theme-orange .datepicker table tr td.active:hover.active, .theme-orange .datepicker table tr td.active.disabled.active, .theme-orange .datepicker table tr td.active.disabled:hover.active, .theme-orange .open .dropdown-toggle.datepicker table tr td.active, .theme-orange .open .dropdown-toggle.datepicker table tr td.active:hover, .theme-orange .open .dropdown-toggle.datepicker table tr td.active.disabled, .theme-orange .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
	color: #ffffff;
	background-color: #bc561a;
	border-color: #bc561a;
}

.theme-orange .datepicker table tr td span.active:hover, .theme-orange .datepicker table tr td span.active:hover:hover, .theme-orange .datepicker table tr td span.active.disabled:hover, .theme-orange .datepicker table tr td span.active.disabled:hover:hover, .theme-orange .datepicker table tr td span.active:focus, .theme-orange .datepicker table tr td span.active:hover:focus, .theme-orange .datepicker table tr td span.active.disabled:focus, .theme-orange .datepicker table tr td span.active.disabled:hover:focus, .theme-orange .datepicker table tr td span.active:active, .theme-orange .datepicker table tr td span.active:hover:active, .theme-orange .datepicker table tr td span.active.disabled:active, .theme-orange .datepicker table tr td span.active.disabled:hover:active, .theme-orange .datepicker table tr td span.active.active, .theme-orange .datepicker table tr td span.active:hover.active, .theme-orange .datepicker table tr td span.active.disabled.active, .theme-orange .datepicker table tr td span.active.disabled:hover.active, .theme-orange .open .dropdown-toggle.datepicker table tr td span.active, .theme-orange .open .dropdown-toggle.datepicker table tr td span.active:hover, .theme-orange .open .dropdown-toggle.datepicker table tr td span.active.disabled, .theme-orange .open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
	color: #ffffff;
	background-color: #bc561a;
	border-color: #bc561a;
}

.theme-orange  .datepicker-dropdown:after {
    border-color: -moz-use-text-color transparent #f36f21;
    content:normal;
}
.theme-orange  .datepicker thead tr:first-child th:hover, 
.theme-orange  .datepicker tfoot tr th:hover {
	background: #bc561a;
}
.theme-orange .tick-radio:checked + label > span:before{
  color: #F36F21;
}
/* Orange Color Themes End */




/* Pink Color Themes Start */
.theme-pink .btn-default{
	background: #D42BA6;
	border-color:#AD2387;
	color: #fff;
	transition:0.3s all;
}
.theme-pink .box-title{
	color: #D42BA6;
}
.theme-pink .btn-default:hover{
	background: #AD2387;
}
.theme-pink .input-group-addon{
	background: #D42BA6;
	border-color:#AD2387;
	color: #fff;
	transition:0.3s all;
}
.theme-pink .input-group-addon:hover{
	background: #AD2387;
}
.theme-pink .btn-default.active{
	background: #AD2387;
	border-color:#AD2387;
	color: #fff;
	transition:0.3s all;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.7) inset;
}
.theme-pink .datepicker-days table thead > tr:first-child{
	background: #D42BA6;
	color: #fff;
}
.theme-pink .datepicker-days table thead > tr:first-child > td{
	background: #D42BA6;
}
.theme-pink .datepicker-months table thead > tr:first-child{
	background: #D42BA6;
	color: #fff;
}
.theme-pink .datepicker-months table thead > tr:first-child > td{
	background: #D42BA6;
}
.theme-pink .datepicker-years table thead > tr:first-child{
	background: #D42BA6;
	color: #fff;
}
.theme-pink .datepicker-years table thead > tr:first-child > td{
	background: #D42BA6;
}

.theme-pink .datepicker table tr td.today, .theme-pink .datepicker table tr td.today:hover, .theme-pink .datepicker table tr td.today.disabled, .theme-pink .datepicker table tr td.today.disabled:hover {
	color: #000000;
	background-color: #db6cc0;
	border-color: #db6cc0;
}
.theme-pink .datepicker table tr td.today:hover, .theme-pink .datepicker table tr td.today:hover:hover, .theme-pink .datepicker table tr td.today.disabled:hover, .theme-pink .datepicker table tr td.today.disabled:hover:hover, .theme-pink .datepicker table tr td.today:focus, .theme-pink .datepicker table tr td.today:hover:focus, .theme-pink .datepicker table tr td.today.disabled:focus, .theme-pink .datepicker table tr td.today.disabled:hover:focus, .theme-pink .datepicker table tr td.today:active, .theme-pink .datepicker table tr td.today:hover:active, .theme-pink .datepicker table tr td.today.disabled:active, .theme-pink .datepicker table tr td.today.disabled:hover:active, .theme-pink .datepicker table tr td.today.active, .theme-pink .datepicker table tr td.today:hover.active, .theme-pink .datepicker table tr td.today.disabled.active, .theme-pink .datepicker table tr td.today.disabled:hover.active, .theme-pink .open .dropdown-toggle.datepicker table tr td.today, .theme-pink .open .dropdown-toggle.datepicker table tr td.today:hover, .theme-pink .open .dropdown-toggle.datepicker table tr td.today.disabled, .theme-pink .open .dropdown-toggle.datepicker table tr td.today.disabled:hover {	
	color: #000000;
	background-color: #db6cc0;
	border-color: #db6cc0;
}
.theme-pink .datepicker table tr td.active:hover, .theme-pink .datepicker table tr td.active:hover:hover, .theme-pink .datepicker table tr td.active.disabled:hover, .theme-pink .datepicker table tr td.active.disabled:hover:hover, .theme-pink .datepicker table tr td.active:focus, .theme-pink .datepicker table tr td.active:hover:focus, .theme-pink .datepicker table tr td.active.disabled:focus, .theme-pink .datepicker table tr td.active.disabled:hover:focus, .theme-pink .datepicker table tr td.active:active, .theme-pink .datepicker table tr td.active:hover:active, .theme-pink .datepicker table tr td.active.disabled:active, .theme-pink .datepicker table tr td.active.disabled:hover:active, .theme-pink .datepicker table tr td.active.active, .theme-pink .datepicker table tr td.active:hover.active, .theme-pink .datepicker table tr td.active.disabled.active, .theme-pink .datepicker table tr td.active.disabled:hover.active, .theme-pink .open .dropdown-toggle.datepicker table tr td.active, .theme-pink .open .dropdown-toggle.datepicker table tr td.active:hover, .theme-pink .open .dropdown-toggle.datepicker table tr td.active.disabled, .theme-pink .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {	
	color: #ffffff;
	background-color: #AA2284;
	border-color: #AA2284;
}

.theme-pink .datepicker table tr td.active:hover, .theme-pink .datepicker table tr td.active:hover:hover, .theme-pink .datepicker table tr td.active.disabled:hover, .theme-pink .datepicker table tr td.active.disabled:hover:hover, .theme-pink .datepicker table tr td.active:focus, .theme-pink .datepicker table tr td.active:hover:focus, .theme-pink .datepicker table tr td.active.disabled:focus, .theme-pink .datepicker table tr td.active.disabled:hover:focus, .theme-pink .datepicker table tr td.active:active, .theme-pink .datepicker table tr td.active:hover:active, .theme-pink .datepicker table tr td.active.disabled:active, .theme-pink .datepicker table tr td.active.disabled:hover:active, .theme-pink .datepicker table tr td.active.active, .theme-pink .datepicker table tr td.active:hover.active, .theme-pink .datepicker table tr td.active.disabled.active, .theme-pink .datepicker table tr td.active.disabled:hover.active, .theme-pink .open .dropdown-toggle.datepicker table tr td.active, .theme-pink .open .dropdown-toggle.datepicker table tr td.active:hover, .theme-pink .open .dropdown-toggle.datepicker table tr td.active.disabled, .theme-pink .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
	color: #ffffff;
	background-color: #AA2284;
	border-color: #AA2284;
}

.theme-pink .datepicker table tr td span.active:hover, .theme-pink .datepicker table tr td span.active:hover:hover, .theme-pink .datepicker table tr td span.active.disabled:hover, .theme-pink .datepicker table tr td span.active.disabled:hover:hover, .theme-pink .datepicker table tr td span.active:focus, .theme-pink .datepicker table tr td span.active:hover:focus, .theme-pink .datepicker table tr td span.active.disabled:focus, .theme-pink .datepicker table tr td span.active.disabled:hover:focus, .theme-pink .datepicker table tr td span.active:active, .theme-pink .datepicker table tr td span.active:hover:active, .theme-pink .datepicker table tr td span.active.disabled:active, .theme-pink .datepicker table tr td span.active.disabled:hover:active, .theme-pink .datepicker table tr td span.active.active, .theme-pink .datepicker table tr td span.active:hover.active, .theme-pink .datepicker table tr td span.active.disabled.active, .theme-pink .datepicker table tr td span.active.disabled:hover.active, .theme-pink .open .dropdown-toggle.datepicker table tr td span.active, .theme-pink .open .dropdown-toggle.datepicker table tr td span.active:hover, .theme-pink .open .dropdown-toggle.datepicker table tr td span.active.disabled, .theme-pink .open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
	color: #ffffff;
	background-color: #AA2284;
	border-color: #AA2284;
}

.theme-pink  .datepicker-dropdown:after {
    border-color: -moz-use-text-color transparent #D42BA6;
    content:normal;
}
.theme-pink  .datepicker thead tr:first-child th:hover, 
.theme-pink  .datepicker tfoot tr th:hover {
	background: #AA2284;
}
.theme-pink .tick-radio:checked + label > span:before{
  color: #F36F21;
}
/* Pink Color Themes End */



/* Lime Color Themes Start */
.theme-lime .slider-selection {
    background: #a2c937;
}
.theme-lime .slider-handle {
	background: #6b8425;
}
.theme-lime .btn-default{
	background: #a2c937;
	border-color:#83a22c;
	color: #fff;
	transition:0.3s all;
}
.theme-lime .box-title{
	color: #a2c937;
}
.theme-lime .btn-default:hover{
	background: #83a22c;
	color: #fff;
}
.theme-lime .input-group-addon{
	background: #a2c937;
	border-color:#83a22c;
	color: #fff;
	transition:0.3s all;
}
.theme-lime .input-group-addon:hover{
	background: #83a22c;
}
.theme-lime .btn-default.active{
	background: #83a22c;
	border-color:#83a22c;
	color: #fff;
	transition:0.3s all;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.7) inset;
}
.theme-lime .datepicker-days table thead > tr:first-child{
	background: #a2c937;
	color: #fff;
}
.theme-lime .datepicker-days table thead > tr:first-child > td{
	background: #a2c937;
}
.theme-lime .datepicker-months table thead > tr:first-child{
	background: #a2c937;
	color: #fff;
}
.theme-lime .datepicker-months table thead > tr:first-child > td{
	background: #a2c937;
}
.theme-lime .datepicker-years table thead > tr:first-child{
	background: #a2c937;
	color: #fff;
}
.theme-lime .datepicker-years table thead > tr:first-child > td{
	background: #a2c937;
}

.theme-lime .datepicker table tr td.today, .theme-lime .datepicker table tr td.today:hover, .theme-lime .datepicker table tr td.today.disabled, .theme-lime .datepicker table tr td.today.disabled:hover {
	color: #000000;
	background-color: #aecf7a;
	border-color: #aecf7a;
}
.theme-lime .datepicker table tr td.today:hover, .theme-lime .datepicker table tr td.today:hover:hover, .theme-lime .datepicker table tr td.today.disabled:hover, .theme-lime .datepicker table tr td.today.disabled:hover:hover, .theme-lime .datepicker table tr td.today:focus, .theme-lime .datepicker table tr td.today:hover:focus, .theme-lime .datepicker table tr td.today.disabled:focus, .theme-lime .datepicker table tr td.today.disabled:hover:focus, .theme-lime .datepicker table tr td.today:active, .theme-lime .datepicker table tr td.today:hover:active, .theme-lime .datepicker table tr td.today.disabled:active, .theme-lime .datepicker table tr td.today.disabled:hover:active, .theme-lime .datepicker table tr td.today.active, .theme-lime .datepicker table tr td.today:hover.active, .theme-lime .datepicker table tr td.today.disabled.active, .theme-lime .datepicker table tr td.today.disabled:hover.active, .theme-lime .open .dropdown-toggle.datepicker table tr td.today, .theme-lime .open .dropdown-toggle.datepicker table tr td.today:hover, .theme-lime .open .dropdown-toggle.datepicker table tr td.today.disabled, .theme-lime .open .dropdown-toggle.datepicker table tr td.today.disabled:hover {	
	color: #000000;
	background-color: #aecf7a;
	border-color: #aecf7a;
}
.theme-lime .datepicker table tr td.active:hover, .theme-lime .datepicker table tr td.active:hover:hover, .theme-lime .datepicker table tr td.active.disabled:hover, .theme-lime .datepicker table tr td.active.disabled:hover:hover, .theme-lime .datepicker table tr td.active:focus, .theme-lime .datepicker table tr td.active:hover:focus, .theme-lime .datepicker table tr td.active.disabled:focus, .theme-lime .datepicker table tr td.active.disabled:hover:focus, .theme-lime .datepicker table tr td.active:active, .theme-lime .datepicker table tr td.active:hover:active, .theme-lime .datepicker table tr td.active.disabled:active, .theme-lime .datepicker table tr td.active.disabled:hover:active, .theme-lime .datepicker table tr td.active.active, .theme-lime .datepicker table tr td.active:hover.active, .theme-lime .datepicker table tr td.active.disabled.active, .theme-lime .datepicker table tr td.active.disabled:hover.active, .theme-lime .open .dropdown-toggle.datepicker table tr td.active, .theme-lime .open .dropdown-toggle.datepicker table tr td.active:hover, .theme-lime .open .dropdown-toggle.datepicker table tr td.active.disabled, .theme-lime .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {	
	color: #ffffff;
	background-color: #769228;
	border-color: #769228;
}

.theme-lime .datepicker table tr td.active:hover, .theme-lime .datepicker table tr td.active:hover:hover, .theme-lime .datepicker table tr td.active.disabled:hover, .theme-lime .datepicker table tr td.active.disabled:hover:hover, .theme-lime .datepicker table tr td.active:focus, .theme-lime .datepicker table tr td.active:hover:focus, .theme-lime .datepicker table tr td.active.disabled:focus, .theme-lime .datepicker table tr td.active.disabled:hover:focus, .theme-lime .datepicker table tr td.active:active, .theme-lime .datepicker table tr td.active:hover:active, .theme-lime .datepicker table tr td.active.disabled:active, .theme-lime .datepicker table tr td.active.disabled:hover:active, .theme-lime .datepicker table tr td.active.active, .theme-lime .datepicker table tr td.active:hover.active, .theme-lime .datepicker table tr td.active.disabled.active, .theme-lime .datepicker table tr td.active.disabled:hover.active, .theme-lime .open .dropdown-toggle.datepicker table tr td.active, .theme-lime .open .dropdown-toggle.datepicker table tr td.active:hover, .theme-lime .open .dropdown-toggle.datepicker table tr td.active.disabled, .theme-lime .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
	color: #ffffff;
	background-color: #769228;
	border-color: #769228;
}

.theme-lime .datepicker table tr td span.active:hover, .theme-lime .datepicker table tr td span.active:hover:hover, .theme-lime .datepicker table tr td span.active.disabled:hover, .theme-lime .datepicker table tr td span.active.disabled:hover:hover, .theme-lime .datepicker table tr td span.active:focus, .theme-lime .datepicker table tr td span.active:hover:focus, .theme-lime .datepicker table tr td span.active.disabled:focus, .theme-lime .datepicker table tr td span.active.disabled:hover:focus, .theme-lime .datepicker table tr td span.active:active, .theme-lime .datepicker table tr td span.active:hover:active, .theme-lime .datepicker table tr td span.active.disabled:active, .theme-lime .datepicker table tr td span.active.disabled:hover:active, .theme-lime .datepicker table tr td span.active.active, .theme-lime .datepicker table tr td span.active:hover.active, .theme-lime .datepicker table tr td span.active.disabled.active, .theme-lime .datepicker table tr td span.active.disabled:hover.active, .theme-lime .open .dropdown-toggle.datepicker table tr td span.active, .theme-lime .open .dropdown-toggle.datepicker table tr td span.active:hover, .theme-lime .open .dropdown-toggle.datepicker table tr td span.active.disabled, .theme-lime .open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
	color: #ffffff;
	background-color: #769228;
	border-color: #769228;
}

.theme-lime .datepicker-dropdown:after {
    border-color: -moz-use-text-color transparent #a2c937;
    content:normal;
}
.theme-lime .datepicker thead tr:first-child th:hover, 
.theme-lime .datepicker tfoot tr th:hover {
	background: #769228;
}
.theme-lime .tick-radio:checked + label > span:before{
  color: #769228;
}
/* Lime Color Themes End */






/* Blue Color Themes Start */

.theme-blue .btn-default{
	background: #0064DE;
	border-color:#004ba7;
	color: #fff;
	transition:0.3s all;
}
.theme-blue .box-title{
	color: #0064DE;
}
.theme-blue .btn-default:hover{
	background: #004ba7;
}
.theme-blue .input-group-addon{
	background: #0064DE;
	border-color:#004ba7;
	color: #fff;
	transition:0.3s all;
}
.theme-blue .input-group-addon:hover{
	background: #004ba7;
}
.theme-blue .btn-default.active{
	background: #004ba7;
	border-color:#004ba7;
	color: #fff;
	transition:0.3s all;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.7) inset;
}
.theme-blue .datepicker-days table thead > tr:first-child{
	background: #0064DE;
	color: #fff;
}
.theme-blue .datepicker-days table thead > tr:first-child > td{
	background: #0064DE;
}
.theme-blue .datepicker-months table thead > tr:first-child{
	background: #0064DE;
	color: #fff;
}
.theme-blue .datepicker-months table thead > tr:first-child > td{
	background: #0064DE;
}
.theme-blue .datepicker-years table thead > tr:first-child{
	background: #0064DE;
	color: #fff;
}
.theme-blue .datepicker-years table thead > tr:first-child > td{
	background: #0064DE;
}

.theme-blue .datepicker table tr td.today, .theme-blue .datepicker table tr td.today:hover, .theme-blue .datepicker table tr td.today.disabled, .theme-blue .datepicker table tr td.today.disabled:hover {
	color: #000000;
	background-color: #4d95ee;
	border-color: #4d95ee;
}
.theme-blue .datepicker table tr td.today:hover, .theme-blue .datepicker table tr td.today:hover:hover, .theme-blue .datepicker table tr td.today.disabled:hover, .theme-blue .datepicker table tr td.today.disabled:hover:hover, .theme-blue .datepicker table tr td.today:focus, .theme-blue .datepicker table tr td.today:hover:focus, .theme-blue .datepicker table tr td.today.disabled:focus, .theme-blue .datepicker table tr td.today.disabled:hover:focus, .theme-blue .datepicker table tr td.today:active, .theme-blue .datepicker table tr td.today:hover:active, .theme-blue .datepicker table tr td.today.disabled:active, .theme-blue .datepicker table tr td.today.disabled:hover:active, .theme-blue .datepicker table tr td.today.active, .theme-blue .datepicker table tr td.today:hover.active, .theme-blue .datepicker table tr td.today.disabled.active, .theme-blue .datepicker table tr td.today.disabled:hover.active, .theme-blue .open .dropdown-toggle.datepicker table tr td.today, .theme-blue .open .dropdown-toggle.datepicker table tr td.today:hover, .theme-blue .open .dropdown-toggle.datepicker table tr td.today.disabled, .theme-blue .open .dropdown-toggle.datepicker table tr td.today.disabled:hover {	
	color: #000000;
	background-color: #4d95ee;
	border-color: #4d95ee;
}
.theme-blue .datepicker table tr td.active:hover, .theme-blue .datepicker table tr td.active:hover:hover, .theme-blue .datepicker table tr td.active.disabled:hover, .theme-blue .datepicker table tr td.active.disabled:hover:hover, .theme-blue .datepicker table tr td.active:focus, .theme-blue .datepicker table tr td.active:hover:focus, .theme-blue .datepicker table tr td.active.disabled:focus, .theme-blue .datepicker table tr td.active.disabled:hover:focus, .theme-blue .datepicker table tr td.active:active, .theme-blue .datepicker table tr td.active:hover:active, .theme-blue .datepicker table tr td.active.disabled:active, .theme-blue .datepicker table tr td.active.disabled:hover:active, .theme-blue .datepicker table tr td.active.active, .theme-blue .datepicker table tr td.active:hover.active, .theme-blue .datepicker table tr td.active.disabled.active, .theme-blue .datepicker table tr td.active.disabled:hover.active, .theme-blue .open .dropdown-toggle.datepicker table tr td.active, .theme-blue .open .dropdown-toggle.datepicker table tr td.active:hover, .theme-blue .open .dropdown-toggle.datepicker table tr td.active.disabled, .theme-blue .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {	
	color: #ffffff;
	background-color: #004BA7;
	border-color: #004BA7;
}

.theme-blue .datepicker table tr td.active:hover, .theme-blue .datepicker table tr td.active:hover:hover, .theme-blue .datepicker table tr td.active.disabled:hover, .theme-blue .datepicker table tr td.active.disabled:hover:hover, .theme-blue .datepicker table tr td.active:focus, .theme-blue .datepicker table tr td.active:hover:focus, .theme-blue .datepicker table tr td.active.disabled:focus, .theme-blue .datepicker table tr td.active.disabled:hover:focus, .theme-blue .datepicker table tr td.active:active, .theme-blue .datepicker table tr td.active:hover:active, .theme-blue .datepicker table tr td.active.disabled:active, .theme-blue .datepicker table tr td.active.disabled:hover:active, .theme-blue .datepicker table tr td.active.active, .theme-blue .datepicker table tr td.active:hover.active, .theme-blue .datepicker table tr td.active.disabled.active, .theme-blue .datepicker table tr td.active.disabled:hover.active, .theme-blue .open .dropdown-toggle.datepicker table tr td.active, .theme-blue .open .dropdown-toggle.datepicker table tr td.active:hover, .theme-blue .open .dropdown-toggle.datepicker table tr td.active.disabled, .theme-blue .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
	color: #ffffff;
	background-color: #004BA7;
	border-color: #004BA7;
}

.theme-blue .datepicker table tr td span.active:hover, .theme-blue .datepicker table tr td span.active:hover:hover, .theme-blue .datepicker table tr td span.active.disabled:hover, .theme-blue .datepicker table tr td span.active.disabled:hover:hover, .theme-blue .datepicker table tr td span.active:focus, .theme-blue .datepicker table tr td span.active:hover:focus, .theme-blue .datepicker table tr td span.active.disabled:focus, .theme-blue .datepicker table tr td span.active.disabled:hover:focus, .theme-blue .datepicker table tr td span.active:active, .theme-blue .datepicker table tr td span.active:hover:active, .theme-blue .datepicker table tr td span.active.disabled:active, .theme-blue .datepicker table tr td span.active.disabled:hover:active, .theme-blue .datepicker table tr td span.active.active, .theme-blue .datepicker table tr td span.active:hover.active, .theme-blue .datepicker table tr td span.active.disabled.active, .theme-blue .datepicker table tr td span.active.disabled:hover.active, .theme-blue .open .dropdown-toggle.datepicker table tr td span.active, .theme-blue .open .dropdown-toggle.datepicker table tr td span.active:hover, .theme-blue .open .dropdown-toggle.datepicker table tr td span.active.disabled, .theme-blue .open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
	color: #ffffff;
	background-color: #004BA7;
	border-color: #004BA7;
}

.theme-blue .datepicker-dropdown:after {
    border-color: -moz-use-text-color transparent #0064DE;
    content:normal;
}
.theme-blue .datepicker thead tr:first-child th:hover, 
.theme-blue .datepicker tfoot tr th:hover {
	background: #004BA7;
}
.theme-blue .tick-radio:checked + label > span:before{
  color: #004BA7;
}
/* Blue Color Themes End */