<h3>Dear ${name},</h3>
<br>
<h4>Thanks for travelling with us.Your order for booking has been completed successfully.To see details</h4>
<g:if test="${bookingId != '0'}">
    <h4>Please save your booking id ${bookingId} for future need</h4>
    <br>
    <h4><p><strong>You can login also to see the your profile</strong></p></h4>
    <br>
    <h4>Your username is ${userName}</h4>
    <h4>Your password is ${pass}</h4>

</g:if>
<g:else>
    <h5>Unable to book hotel</h5>
</g:else>
