<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <meta name="layout" content="main"/>
    <title>Welcome To Travelex 360</title>
    <style>
    body {
        background-color: #ffffff;
    }
    </style>
</head>

<body>
<br>
<br>
<br>

<div class="container">

    <h3>&nbsp;&nbsp;Activate  your account</h3>

    <h1 style="text-align: center">Welcome To Travelex360</h1>

    <h1 style="text-align: center">Please activate your account by clicking the link sent to your e-mail</h1>
</div>
</body>
</html>