<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <meta name="layout" content="main"/>
    <title>Welcome To Travelex</title>
</head>

<body>
 <br>
 <br>
 <br>
<div id="content1">
    <div id="content-header">
        <h4>&nbsp;</h4>
        <h3>&nbsp;&nbsp;Activate  your account</h3>
    </div>

    <div id="content-container">
        %{--<div class="page-header text-center">--}%
            %{--<i class="icon-5x icon-user "></i>--}%

            <h1 style="text-align: center">Welcome To Travelex</h1>

            <h1 style="text-align: center">Kindly check your inbox for further information</h1>
        %{--</div>--}%
    </div>
</div>
%{--<style>--}%
%{--#content1 {--}%
    %{--background: #FFF;--}%
    %{--width: auto;--}%
    %{--min-height: 800px;--}%
    %{--z-index: 18;--}%
    %{--padding-bottom: 25px;--}%
    %{--margin-left: 20px;--}%
    %{--margin-right: 20px;--}%
    %{--position: relative;--}%
    %{--left: auto;--}%
    %{--top: auto;--}%
%{--}</style>--}%
</body>
</html>