<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <meta name="layout" content="main"/>

</head>

<body>
<br>
<br>
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <g:render template="/hotelTemplates/userHotelBookingTemplate" model="[bookingHistoryList: bookingHistoryList]"/>
    </div>
</div>
</body>
</html>