<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <meta name="layout" content="main"/>

</head>

<body>
<br>
<br>
<br>
<br>
<br>

<div class="container" style="margin-bottom: 40%">
    <div class="row">
        <g:render template="/flightTemplate/userFlightBookingTemplate"
                  model="[bookedFlightList: bookedFlightList]"/>
    </div>
</div>
</body>
</html>