<!DOCTYPE html>
<html>
<head>
    <meta name="layout" content="headerFooterLayout"/>
</head>

%{--<body>--}%
<body>
<div class="full-page-container full-height home-page">
    <div class="middle-container">
        <div class="container-fluid">
            <div class="main-icons-container">
                <g:render template="/appTemplate/menuTemplate"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>
